[2016-12-31 04:57] ryandailey100 opened #1 "Having trouble switching cameras"
I cant seem to get the cameras to switch properly. When i switch the camera, i just get a black screen and everything becomes unresponsive. Any way to fix this?

[2016-12-31 05:01] ryandailey100 commented on #1
I also get this in the print log: "[SwiftyCam]: Could not add video device input to the session"

[2016-12-31 05:03] Awalz commented on #1
Can you provide me with your device info? Model info and iOS version?

Andrew

On Fri, Dec 30, 2016 at 10:01 PM Ryan Dailey

<
mailto:Ryan Dailey <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

I also get this in the print log: "[SwiftyCam]: Could not add video device input to the session"

—

You are receiving this because you are subscribed to this t

[2016-12-31 05:05] ryandailey100 commented on #1
Im debugging on my iPhone 6 which is running iOS 9.0.2

[2017-01-01 20:31] ryandailey100 commented on #1
Any update for this problem? Its got me stuck for a few days now

[2017-01-01 20:46] Awalz commented on #1
I've been away from my computer for the last three days. Will check it out when I get home (hopefully in an hour)

[2017-01-01 20:47] ryandailey100 commented on #1
Okay thanks! 👍

[2017-01-02 03:39] Awalz commented on #1
I have been unable to reproduce this issue on my device (iPhone 7 running 10.2). Are you trying this on your own project or does it have the same behaviour on the example project?

I have submitted a new version 1.0.1 with some minor changes. Give it a try

[2017-01-02 03:51] ryandailey100 commented on #1
I have tried this in both my project and the demo project and it still does the same thing. I also just tried with your new 1.0.1 version and still no luck. Im not sure if it has to do with me running iOS 9 and not iOS 10. Have you tested this out in iOS 9 before?

[2017-01-02 04:03] Awalz commented on #1
Can you get a count of the session input array when this issue occurs? Add
`print( self.session.inputs.count)
`
on line 325 of SwiftyCamViewController.

[2017-01-02 04:23] ryandailey100 commented on #1
I am getting 0 as the number

[2017-01-02 19:35] ElectrumDevelopment opened #2 "Swift 2.3"
Is there anyway this can be translated to swift 2.3? My whole app is in that version and I'm a bit of a newbie. Thanks!

[2017-01-02 19:46] Awalz commented on #1
That is very strange. I am looking into this today. I need to get a hold of more test devices as mine do not reproduce this issue. Can you describe, in detail, how you are able to reproduce and what occurs in the demo app?

[2017-01-02 19:47] Awalz commented on #2
I will look into this today and see if it is possible

[2017-01-02 20:49] ryandailey100 commented on #1
To reproduce this, all I did was start up the example app (with no modifications) and when the app starts up, I tap on the switch camera button. Once I tap on that button, thats when the problem occurs.

Here is what it looks like after I tap on the switch camera button:

![img_8032](https://cloud.githubusercontent.com/assets/15038444/21596020/030300d8-d103-11e6-8cbb-58f6d73a0135.PNG)

[2017-01-03 01:40] Awalz commented on #1
Hey Ryan, I have discovered the issue.

The default implementation uses AVCaptureSessionPreset1920x1080. My iPhone 7 supports 1080p recording via the front facing camera, but yours does not. It fails to add the front facing camera when you switch cameras. It will fail on any device that does not support 1080 resolution. A temporary workaround would be to drop the videoQuality:

`           videoQu

[2017-01-03 02:38] Awalz commented on #1
I have just pushed a new version (1.1.0). It includes a fix I believe will solve this. The default videoQaulity preset has been changed to **.high**. As well, switching to the front facing camera will always default to **.high**, even if another preset is selected. I believe this is a good compromise. If you could test and confirm it works, I will close this issue.

Andrew

[2017-01-03 02:42] Awalz commented on #2
I have looked into it, and I do not believe I can commit to doing this, nor do I think it would be very beneficial for the project going further. If you are unable to update your project (which I think would be the best bet as Swift 3 is awesome) you could look into [manually downgrading the source](http://rebeloper.com/downgrade-swift-3-swift-2-3-xcode-8/). Sorry I couldn't help further

Andrew

[2017-01-03 02:42] #2 closed

[2017-01-03 03:46] ryandailey100 commented on #1
Just tried it now, everything works 100% now! Thank you so much for fixing this problem. This is a bit off topic but the switchCamera() and toggleFlash() function in the SwiftyCamViewController class should both be open functions. This is because when this is installed through cocoapods, those two functions become inaccessible. I had to manually add them to get them working (since 1.0.0). Besides

[2017-01-03 05:46] Awalz commented on #1
Good to hear! Nice call on the wrong access control for those functions. Was an oversight on my part. I changed them all to be public accessible on 1.1.1 if you wanna check it out.

Andrew

[2017-01-03 05:46] #1 closed

[2017-01-03 22:03] ryandailey100 opened #3 "SwiftyCamDidTakePhoto returns rotated image"
I noticed a small bug when taking a picture with the front facing camera. The image that gets returned is rotated 180 degrees. This is only the case when taking the picture with the front facing camera, not the rear camera.

[2017-01-04 00:30] Awalz commented on #3
Thanks for the heads up. Ill fix this right away!

Andrew

[2017-01-04 15:55] jackpaster opened #4 "Shuttering option"
@Awalz  I love your project very much, but I'm having a problem. Instead of taking one photo and presenting the next viewcontroller the image. I want the user to hold down on the camera button and burst of images will be taken until they let go of the camera button. Once they let go, the array of images taken will be passed onto the next view controller. Can you please implement this

[2017-01-04 22:41] Awalz commented on #3
I believe I have resolved this issue. Let me know if you still see it on the new version (1.1.4)

Andrew

[2017-01-04 22:48] Awalz commented on #4
This is not a feature I would look into implementing in this project, but it can be achieved through this framework.

 Instead of using the SnapCamButton, you would need to implement your own custom button with a UILongPressGestureRecognizer, and call the function takePhoto() with a timer function when the long press began. You would also need to save the photos from the didTakePhoto delegate insi

[2017-01-04 23:42] ryandailey100 commented on #3
Works great! Thanks for the fix 👍

[2017-01-04 23:42] #3 closed

[2017-01-04 23:42] #4 closed

[2017-01-04 23:52] jackpaster commented on #4
@Awalz I will try and code it tomorrow. But after tomorrow, if I need help wrapping the project up, could you please help me.

[2017-01-06 13:03] unittesting0 opened #5 "Some Suggestion..."
Some feedback for the SwiftyCam:

1. Disable Zoom when switching to front Camera (It doesn't zoom but the values change in the console, and when I switch to back camera and when I start to zoom it goes immediately at the highest value where I left from front camera.

2. Changing Icon when the light is on and off.

3. Disabling flash icon on front camera or taking a flash (like the iPhone camera or

[2017-01-06 19:03] Awalz commented on #5
Thanks for the heads up about the zoom issue. Was an oversight on my part and has been resolved.

I like your idea for a better demo. I  definitely would like to put together something a little better. Double tapping to switch camera could be neat, ill look into it!

Andrew

[2017-01-06 19:03] #5 closed

[2017-01-10 17:13] ryandailey100 opened #6 "Flash not working"
I am having issues getting the flash to work on the latest build. When I set  flashEnabled = true , it does nothing. Any idea why this doesnt work?

EDIT: This ended up being something on my end. Sorry about that! Flash is working just as expected.

[2017-01-10 17:18] #6 closed

[2017-01-10 17:44] Awalz commented on #6
Ok sounds good! The behaviour of the flash has changed with the new update to be more similar to Snapchat. Let me know if you are having more problems

Andrew

[2017-01-10 23:11] HackShitUp opened #7 "Switch cameras while recording?"
Have you implemented the ability to switch the front facing and back facing cameras while the video is recording?

[2017-01-10 23:12] HackShitUp opened #8 "Switch cameras while recording video?"
Have you implemented the ability to switch the front facing and back facing cameras while the video is recording?

[2017-01-10 23:12] #8 closed

[2017-01-10 23:15] Awalz commented on #7
I have not implemented this feature. It is a feature I would very much like to add. It would require a somewhat extensive rewrite of the `movieFileOutput` and I would have to manually write an AVAssetExporter. I can't promise this feature been added in the near future

Andrew

[2017-01-10 23:16] HackShitUp commented on #7
I can try and implement it @Awalz but I have a problem...
I've never contributed to with Github before. Mind if I send you the source file via email?

[2017-01-10 23:16] HackShitUp commented on #7
@Awalz when I finish?

[2017-01-10 23:19] Awalz commented on #7
You can if you wish.

Submitting a pull request isn't that bad. You call follow [this link](https://help.github.com/articles/creating-a-pull-request/) and see how you do when you have something complete. That way you will get credit as a contributor. Its up to you though.

Let me know if you need a hand.

Andrew

[2017-01-12 03:53] #7 closed

[2017-01-13 22:43] markohlebar opened #9 "SwiftyCamViewControllerDelegate style issue"
This is a style issue more than anything... The usual way of writing swift functions is with lower camel case. In the case of `SwiftyCamViewControllerDelegate`, the functions are declared with upper camel case as in:

`func SwiftyCamDidTakePhoto(_ photo:UIImage)`.

My suggestion would be to change the signatures to:

`func swiftyCam(_ swiftyCam:SwiftyCamViewController, didTake photo:UIImage)`,

or

[2017-01-13 23:08] Awalz commented on #9
I appreciate the feedback. I do believe the declarations need work. If I rework them, would you take a look?

Andrew

[2017-01-14 06:22] #9 closed

[2017-01-14 08:36] markohlebar commented on #9
@Awalz checked it now, looks cool! 👍

[2017-01-15 11:07] vishalvshekkar opened #10 "Start the viewController with front cam"
Hey,

This is a wonderful library, thank you for this.

I have problem. I want to start my camera view controller with the front camera. If I invoke `switchCamera()` in `viewDidLoad` or `viewWillAppear:animated`, the app crashes with the following message:

[AVCaptureSession stopRunning] stopRunning may not be called between calls to beginConfiguration and commitConfiguration

I assumed that `swit

[2017-01-16 00:04] Awalz commented on #10
Hey vishal,

You will not be able to call `switchCamera()` in `viewDidLoad` or `viewWillAppear:animated`. The AVCaptureSession is configured asynchronously in `viewDidAppear`, so it fail until it has finished configuring.

Currently, there is no way to configure SwiftyCam the way you are asking. I had not considered to add an option for the default. It is something I will add very soon in a future

[2017-01-16 00:21] Awalz commented on #10
I have updated the project to support this functionality. You should update your project to version 2.1.0. Then in your `ViewDidLoad`, change the `defaultCamera` property to` .front`:
[code]
This should do the trick. Let me know if you have any other issues

Andrew

[2017-01-16 00:21] #10 closed

[2017-01-16 09:31] vishalvshekkar commented on #10
Hey, thank you for this quick enhancement.

I had done some makeshift changes to make it work with the front cam by default, but, I'm going to pull your changes from v 2.1.0 now.

Have a good one.

[2017-01-18 10:23] avaan opened #11 "Need progressive duration of video record delegate"
Thanks for your library.
Can you please add a delegate to display or indicate the(progress) duration of the video record in seconds while recording?

[2017-01-18 18:55] Awalz commented on #11
Hey there Avaan,

I will look into this as a possible feature for the future.

Currently the delegate has functions:

[code]

and

[code]

In your own View Controller subclass, you could create a local timer in `didBeginRecordingVideo` and access the time as this function is called as soon as the video begins recording. That should get you the duration you are looking for.

Let me know if you need

[2017-01-19 07:06] avaan commented on #11
Thanks Andrew, Currently I implemented the way you suggested.

[2017-01-21 12:04] dhafinmuktafin opened #12 "Show camera on only half of the screen"
I tried to implement this library on my app, but the camera shows on only half of the screen.
Why is this happened?
I'm using Swift 3.0.2, iOS 10.2, and iPhone 5s.

![img_0083](https://cloud.githubusercontent.com/assets/2961392/22174245/24776462-e00c-11e6-9ab0-71cd55dd547a.PNG)

Thanks.

[2017-01-21 15:27] dhafinmuktafin commented on #12
Oh i'm sorry, forget about my question. It was just Auto Layout problem.

[2017-01-21 15:38] dhafinmuktafin commented on #12
I

[2017-01-21 15:38] #12 closed

[2017-01-21 15:39] dhafinmuktafin commented on #12
I don't know why it can't be used by using nib file. I have to use on storyboards to make it works properly.

[2017-01-24 02:25] #11 closed

[2017-01-26 04:54] hollowaytyl opened #13 "Disabling automatic saving"
I want to create a button to save the photo after it's taken rather than it automatically being saved but I can't find the **code** that's making that happen. I was assuming it would be in the takePhoto() function but I can't pick up on it. Can you help? Thanks.

Confused your project with another. This is **absolutely** perfect! Thanks for your hard work.

[2017-01-26 14:59] #13 closed

[2017-01-27 09:02] sjmueller opened #14 "Add Carthage support"
Would be a great alternative to CocoaPods and manual installation.

[2017-01-27 16:42] hollowaytyl opened #15 "Saving photos to camera roll."
Quick question - how do add a button to save images to the camera roll?

Fixed it.

 func save() {
        UIImageWriteToSavedPhotosAlbum(backgroundImage, nil, nil, nil)

    }

[2017-01-27 16:54] #15 closed

[2017-01-28 00:38] Awalz commented on #14
This is a great idea. Im on it

[2017-02-04 23:17] cappsule-app opened #16 "Progress Layer?"
Can you add an progress layer to circle?

Like this: https://github.com/samuelbeek/RecordButton

[2017-02-05 22:40] #16 closed

[2017-02-17 09:36] midgard opened #17 "Video compressing"
How do I compress the video output? @Awalz

Can you add this feature?

[2017-02-17 16:02] Awalz commented on #17
This is a feature I would like to add. It will be time consuming as AVAssetReader and AVAssetWriter are not simple API's.

In the short term, I use [SDAVAssetExportSession](https://github.com/rs/SDAVAssetExportSession). Its older and objective-c, but should work fine for compression

[2017-02-17 16:02] #17 closed

[2017-02-18 19:15] hollowaytyl opened #18 "Using with firebase, front camera flips image when uploaded."
Everything looks good when I post an image taken with the back camera, but when I take one with the front and upload it, its flips the image and crops it out of view. Do you know why this happening?

[2017-02-18 19:25] Awalz commented on #18
I think this has to do with how the framework saves the UIImage with the front facing camera. Rather than actually flippining the image, it just sets the orientation to leftmirrored. IOS reads this and displays it prooerly, but I suspect Firebase ignores this.

I'm going to look into this and fix in a future version. In the meantime, I would look into flipping the image manually before uploading i

[2017-02-21 17:55] smbss opened #20 "Flash not working + Usage needs update?"
I cloned DemoSwiftyCam and tried it on my iPhone 5S but the flash is not working. Is this a framework bug or can you recommend a way to implement it?

Also, comparing the usage instructions on README.md to the DemoSwiftyCam project, I can see that they are not coherent. Do you recommend to continue using the logic on DemoSwiftyCam?

Thanks in advance!

[2017-02-21 18:03] Awalz commented on #20
Hey,

can you point me to where the README differed from the demo, I would love to fix it. I am going to look into the flash issue. Does it not work for all modes (front camera, back camera, photo, video .etc).

Thanks!

[2017-02-21 20:16] smbss commented on #20
I'm sorry, it seems that I was misinterpreting the use of SwiftyRecordButton, PhotoViewController and VideoViewController on the DemoSwiftyCam. I thought they were part of the Framework and were not correctly referenced on the usage instructions, but they are just additional classes for further customization.

I was also able to solve the problem with the flash, it seems that there was a conflict

[2017-02-22 00:39] #20 closed

[2017-02-26 11:15] midgard opened #22 "Long press detection/reponse time?"
@Awalz

Andrew, i'm pressing to record button. But i guess it is giving late reaction.

I wait for about a second.

Is there a setting for this?

Thank you.

[2017-02-27 13:16] midgard commented on #22
I found solution:

    let longGesture = UILongPressGestureRecognizer(target: self, action: #selector(SwiftyCamButton.LongPress))
    longGesture.minimumPressDuration = 0.1;

I've added longGesture.minimumPressDuration parameter to gesture.

I hope this works for anyone.

[2017-02-27 13:16] #22 closed

[2017-02-27 17:04] Awalz commented on #22
Thanks for this,

In the future, I would like to make this a configurable variable for SwiftyCamButton. I will add it to the next release.

Andrew

[2017-03-02 03:27] sulamatraore opened #23 "Background Music Issues"
When I open the camera view controller, the music that is playing immediately stops. When I manage to get music and the camera running, switching the camera from back to front freezes the preview. Is there a reason for this? Thanks in advance!

[2017-03-02 16:19] midgard commented on #23
Did you try `allowBackgroundAudio = true` ?

[2017-03-02 16:23] Awalz commented on #23
allowBackgroundAudio should be true by default. Are you able to submit your View Controller snippet so I can troubleshoot this further? Thanks

Andrew

[2017-03-09 09:40] o15a3d4l11s2 opened #24 "Use as photo capture device only"
Is it possible to use the library only for photo capturing?
At the moment it requests permission to the microphone, but I do not want the users to see such request at all, as I will not record videos. Is this possible with the current implementation?

[2017-03-09 17:12] Awalz commented on #24
A photo-only mode has been requested, and will come in Version 3.0 when I have some free time. Currently, there is no way to avoid the permission for microphone. Sorry

Andrew

[2017-03-09 17:12] #24 closed

[2017-03-09 20:54] #23 closed

[2017-03-10 18:15] otymartin opened #25 "PreviewLayer view sometimes doesnt Fill Screen"
@Awalz
This happens randomly, but when I load the `CameraViewController`, from time to time, the `previewLayer` frame doesnt not extend to the bounds of my screen.

I havent done any modification to the library, simply subclassed `SwiftyCamViewController` with these settings in `viewDidLoad`

Update** I dont know if this could perhaps be the problem `previewLayer = PreviewView(frame: self.view.fra

[2017-03-10 18:29] Awalz commented on #25
Hey Martin,

Good find! I have not run into this. I have never personally experienced an issue with using the frame, but I could see how it is possible.

Are you presenting the View Controller by itself, or is it embedded in another ViewController?

[2017-03-10 18:34] otymartin commented on #25
@Awalz
Hey I use storyboards and yes I present it by itself.
My `CameraViewController` is in its own storyboard.
[code]
<img width="258" alt="screen shot 2017-03-10 at 1 33 41 pm" src="https://cloud.githubusercontent.com/assets/2222881/23808073/5178ce88-0596-11e7-84d4-5dbda66031d3.png">

[2017-03-10 18:37] Awalz commented on #25
One thing to test would also be if this changes if you explicitly set a resolution, say:

 ``` resolution = .resolution1280x720```

[2017-03-10 18:39] otymartin commented on #25
@Awalz
I did record earlier today and it recorded in 4:3 mode, It played back in 4:3 mode aswell.
I havent done any resolution changes. Theres are the only settings I have which I run at `viewDidLoad`

[code]

[2017-03-10 18:43] Awalz commented on #25
Did you by chance see the resolution the video recorded?

This is very strange. I do not believe the ```.medium``` setting should include any 4:3
Since the preview and the video recording are the same aspect ratio, I do not believe this issue is the frame. The preview frame does not impact the actual recording. The fact that the recording was 4:3 points to an issue with the AVCapturePreset.

For a

[2017-03-10 18:47] otymartin commented on #25
I changed to `.resolution1280x720`
Im using `iPhone 6`
![img_4536](https://cloud.githubusercontent.com/assets/2222881/23808476/04d66052-0598-11e7-8791-aefcbfccaaee.PNG)

[2017-03-10 18:51] Awalz commented on #25
Ok. I will try to do some testing with an iPhone 6.

[2017-03-10 19:06] otymartin commented on #25
@Awalz Yea i will post as soon as I get results, Its hard to reproduce because it happens randomly
But I will be printing out, `View.frame, view.bounds, previewLayer.frame, previewLayer.bound and video metadata`

[2017-03-10 19:40] SimoMazil opened #26 "maximumVideoDuration = 10.0 NOT WORKING !!"
override func viewDidLoad() {
        super.viewDidLoad()
maximumVideoDuration = 120.0
}

and after 2 minutes the video does not finish recording !

[2017-03-10 19:40] Awalz commented on #26
You will need to provide more information than a title. Please update the issue

Andrew

[2017-03-10 19:51] SimoMazil commented on #26
done

[2017-03-10 19:55] Awalz commented on #26
Please check out the README or look at the demo example. The maximumVideoDuration does not apply to all recorded video, only video recording controlled by an instance of SwiftyCamButton. If you wish to have a maximum duration and not use a SwiftyCamButton, you will need to create your own timer and handle in manually.

Andrew

[2017-03-10 19:55] #26 closed

[2017-03-10 19:56] SimoMazil commented on #26
Ok Thanks

[2017-03-10 21:23] SimoMazil opened #27 "Q: does the recording video support orientation ?"
does the recording video record all videos in portrait or just the problem when i read it with the AVplayer it does not know if the video portrait or landscape ??

[2017-03-10 21:24] Awalz commented on #27
For the time being, all video is portrait to replicate Snapchat. I am looking into adding landscape but it would be in the near future

Andrew

[2017-03-10 21:24] #27 closed

[2017-03-10 21:26] SimoMazil commented on #27
Ok Thanks

[2017-03-12 20:15] otymartin commented on #25
@Awalz i've only been able to replicate this while device is disconnected from my macbook. very odd!

[2017-03-13 06:22] otymartin opened #28 "Disable Shutter sound when taking Photo"
@Awalz
Is it possible to disable the shutter sound when the `takePhoto` method is called?

In my usecase, while user is recording, at some point I also `takePhoto`.  That way at output I have both a video and a thumbnail photo. But I dont want the `take photo` sound to go off.

[2017-03-13 16:36] Awalz commented on #28
It is not possible to disable the shutter sound manually. Such attempts result in a rejection from the app store due to this section in App Store Guidelines:

```Section 3.3.8 : Any form of user or device data collection, or image, picture or voice capture or recording (collectively “Recordings”), and any form of data, content or information collection, processing, maintenance, uploading, syncing,

[2017-03-13 17:27] otymartin commented on #28
@Awalz
I think its my implementation. I use a tapGesture on the circleButton which interpolates into a 10 second animated circle counter because I force users to take exactly 5 second videos. Sometimes I hear the shutter, sometimes I dont. Perhaps I should get a frame from the resulting video URL instead.

[code]
![image](https://cloud.githubusercontent.com/assets/2222881/23866943/bcfa7326-07f0-11

[2017-03-13 17:35] Awalz commented on #28
This is currently my code I just used to test. I wrote a delay function which takes a photo 0.2 seconds after video begins recording.I did get any shutter sounds:

[code]

Andrew

[2017-03-13 22:27] otymartin commented on #25
@Awalz
So this issue still happens but for some reason I cant get it to show up when device is connected to macbook. Here are the info on the outputed video which I downloaded to my computer.
`Kind: MPEG-4 movie`
`Dimensions: 360 × 480`
`Codecs: AAC, H.264`
Hope its usefull somehow

[2017-03-13 22:28] otymartin commented on #28
@Awalz This is also another very random occurance. Alot of times I wont get the shutter either but also I'll get it abit from time to time.

I just find another method to get a thumbnail photo from the video

[2017-03-13 22:51] #28 closed

[2017-03-13 22:56] Awalz commented on #25
Are you converting the video at all?

It should be QuickTime video, not MPEG-4 movie. Very strange

[2017-03-14 03:12] otymartin commented on #25
@Awalz
Yes I convert to `MP4`

[2017-03-14 20:54] otymartin commented on #25
@Awalz
Slight update on this issue.
Theres another issue that sprung up recenly which is in `viewDidLoad` i set my `front` camera as `default`
[code]

However from time to time, it loads the rear camera instead.
So as a temporary patch job in `viewDidAppear` I do a check then switch camera incase the `rear` cam loads. Bare in mind I want to force the use of front camera without option to use rear.

[2017-03-19 12:51] annasfa opened #29 "maximumVideoDuration"
is there any way to show the video duration when press on record button

[2017-03-20 09:54] david-koch-pro commented on #25
I have also same experience with this issue. My face camera was not full screen using this camera.

[2017-03-23 14:43] david-koch-pro opened #31 "Unable to capture media"
When push camera viewcontroller, I could see the following message.

Domain=AVFoundationErrorDomain Code=-11814 "Cannot Record" UserInfo={NSLocalizedRecoverySuggestion=Try recording again., NSLocalizedDescription=Cannot Record}

What should I fix?

[2017-03-23 15:14] Awalz commented on #31
Can you provide the source code or a sample project where this reproducible? I have never encountered this error

[2017-03-23 15:15] Awalz commented on #29
You could create a timer in your View Controller when the recording begins and stop it when the recording ends. With this, you could create an on screen label showing the duration in whatever format you wish

Currently the framework does not support this, but I will look into it for future releases

[2017-03-23 15:15] #29 closed

[2017-03-23 15:17] Awalz commented on #25
I have been unable to reproduce this issue. I have tested with multiple devices running different software versions.

If someone could provide a sample project or more code snippets, it would help to narrow this down

[2017-03-23 15:20] david-koch-pro commented on #31
I've checked my source again and guessing this part has problem. (I modified if condition because original code is deprecated)

[code]

[2017-03-23 15:23] Awalz commented on #31
AVCaptureDeviceDiscoverySession is only available in iOS 10. The framework supports iOS 8+. Does the issue persist if you ignore the deprecation warnings and run the source code as it?

[2017-03-23 15:25] david-koch-pro commented on #31
If I ignore the deprecation warnings, it's running well...

[2017-03-23 15:29] david-koch-pro commented on #31
I was wrong. Added deviceTypes and running well.
`let devices = AVCaptureDeviceDiscoverySession(deviceTypes: [AVCaptureDeviceType.builtInWideAngleCamera], mediaType: mediaType, position: position).devices`

[2017-03-23 15:32] Awalz commented on #31
Sorry you were wrong about what? That its running well with the original source, or that that was the part of the refactored code that is giving you problems?

[2017-03-23 15:41] david-koch-pro commented on #31
Original source is running well and new code fixed for deprecation is also running well.

[2017-03-23 15:43] #31 closed

[2017-03-23 16:04] Awalz commented on #18
Issue has been resolved in Version 2.2.0

[2017-03-23 16:04] #18 closed

[2017-03-23 16:14] Awalz commented on #14
Added in 2.2.1

[2017-03-23 16:14] #14 closed

[2017-03-25 14:21] JayBone16 opened #32 "Zoom by sliding up or down"
In future versions could this be integrated.

[2017-03-25 17:56] JayBone16 opened #33 "How to take photos and record video in a different aspect ratio"
Hi,
I would like to take photos and record video in a different ratio other then 16:9
I would like it to be something more custom like 3:4.

[2017-03-25 18:50] JayBone16 commented on #33
It has to be in a high video quality mode

[2017-03-25 18:59] Awalz commented on #33
SwiftyCam does not support any aspect ratios other than 16:9. It uses the AVCaptureSessionPresets in AVFounfation
The only supported 4:3 aspect ratios are 640x480 and 320x240, which are low quality and not included in SwiftyCam

[2017-03-27 20:01] #33 closed

[2017-03-27 20:02] Awalz commented on #32
Yes definitely. I will look into this for the next release

Andrew

[2017-03-28 00:01] biscottigelato opened #34 "Make all buttons @IBDesignable?"
I wanted to subclass SwiftyCamButton to re-draw and make it @IBDesignable but was encountering a lot of issues. Not sure if there's a better way to do this. But I ended up had to edit SwiftyCamButton.swift to put #if !TARGET_INTERFACE_BUILDER around a whole bunch of stuff in the class to make my subclass work.

[code]

Would be great to know if there's a better way to do this. Or if there can be n

[2017-03-28 17:31] Awalz commented on #34
What sort of properties would you like to be editable in Interface Builder for SwiftyCamButton?

[2017-03-28 17:33] Awalz commented on #34
I am looking to refactor SwiftyCamButton away from being a button subclass, and being a protocol your button can conform to. Would probably solve this issue

[2017-03-29 20:47] kocoai opened #36 "Square photo"
Hi,

It's possible to change the photo capture aspect ratio to 1:1 without cropping the output ?

Thanks

[2017-03-29 20:51] Awalz commented on #36
It is not currently possible as SwiftyCam does not do any processing of the video output. You would need to handle that with `AVAssetReader` and `AVAssetWriter`

[2017-03-29 21:57] kocoai commented on #36
I understand that :), my question is about the possibility to modify the aspect ratio of the input (without processing the output)... but it seem there is no possibility

[2017-03-29 22:01] Awalz commented on #36
It would required Apple to have an AVCaptureSessionPreset that is square. I would love to be able to support it.

Your best bet is to add a mask over the preview layer to simulate a square view finder, then use a library like [SDAVAssetExportSession](https://github.com/rs/SDAVAssetExportSession) to export the captured video to square. I have had some success with this method

Hope you find your so

[2017-03-29 22:18] kocoai commented on #36
Yes thank you for your advice

[2017-03-29 22:18] #36 closed

[2017-04-03 22:10] Qianen1111 opened #37 "Consecutive Taps Crash"
Hey there,

When doubleTapCameraSwitch is enabled, tapping a few extra times consecutively causes an error:
*** Terminating app due to uncaught exception 'NSGenericException', reason: '*** -[AVCaptureSession stopRunning] stopRunning may not be called between calls to beginConfiguration and commitConfiguration'

Thanks,
Qianen

[2017-04-08 02:36] kharmabum opened #39 "Can I buy you a beer?"
I really appreciate the effort you put into this project and making it open source. Does the email you included on the README map to a PayPal account by chance?

[2017-04-14 15:22] marcosgriselli commented on #32
Is there any milestone for this and #7? I can help out.

[2017-04-18 18:19] Awalz commented on #32
@marcosgriselli zoom by sliding will be implemented on the next release. #7 will be fairly complicated, and I do not believe I will be able to tackle it as I lack the knowledge of AVAssetReader/AVAssetWriter. I would love assistance!

[2017-04-18 18:20] Awalz commented on #37
Thanks for the heads up. This will be fixed on the next release

[2017-04-18 18:20] #34 closed

[2017-04-18 18:20] Awalz commented on #39
Appreciate the thanks. I do not have donations, nor do I wish to accept them.

Andrew

[2017-04-18 18:20] #39 closed

[2017-04-18 18:21] #25 closed

[2017-04-23 05:47] hollowaytyl opened #40 "Is there any way to completely remove whatever makes it ask for microphone permission?"
Hello,

I'm building a database with SwiftyCam and I've been having some problems uploading the videos to my server but the pictures work fine. So right now I want to just go with photo upload as I have removed the ability for users to create videos (I'd really love adding this back one day). Everything is fine but it's kind of creepy that my app asks for microphone permission but doesn't utilize

[2017-04-23 07:23] goyalhonney opened #41 "Camera not coming in Full screen in iPad."

[2017-04-23 19:37] midgard opened #42 "Single Tap problem"
Hi @Awalz,

I commented some lines on SwiftyCamButton.swift file.

Like; let tapGesture and self.addGestureRecognizer(tapGesture) but single tap still working. This triggers longGesture.

Why? I Updated pod and i have this problem.

Thanks

[2017-04-24 11:48] eneskaya opened #43 "Crash when fast-tapping multiple times to switch cameras"
I can reproduce this one-hundred percent of time. When I open the SwiftyCam view and fast-tap multiple times on the screen (to switch cameras) the app crashes after 5th or 6th tap on iPhone 6s. How could I prevent this from happening? Or is this a major issue maybe?

This is the error output:

[code]

[2017-04-24 19:10] Awalz commented on #42
What is it you are trying the achieve?

[2017-04-24 19:18] Awalz commented on #41
This issue will need additional information. Please update with a description, device, SwiftyCam version and iOS version

[2017-04-24 19:19] Awalz commented on #37
Issue should be resolved in version 2.2.2

[2017-04-24 19:19] #37 closed

[2017-04-24 19:19] Awalz commented on #43
Issue should be resolved in version 2.2.2. Can you verify?

[2017-04-24 19:21] goyalhonney commented on #41
I am using Ipad Air 2 with ios 10.3.1 with latest Swiftycam version.
Problem is that Camera is not occupying the entire screen when I run this on my Iphone 6s with ios 10.3.1 it works fine.

[2017-04-24 19:22] Awalz commented on #41
Can you try it with the latest release (2.2.2). Screenshots would be helpful with any orientation info

[2017-04-24 19:25] Awalz commented on #40
This is possible by not adding the Audio Input when the session is configured our monitored. This will (should) still allow video capture without audio. Here's the code example if you want to fork and try it yourself (the add audio input is commented):

	/// Configure session, add inputs and outputs

	fileprivate func configureSession() {
		guard setupResult == .success else {
			return
		}

		//

[2017-04-24 19:48] Awalz opened #44 "Switching Cameras While Recording"
I am looking for help implementing Switching cameras between front and rear camera. This will require a rewrite to use AVCaptureVideoDataOutput and knowledge of AVAssetReader and AVAssetWriter. Any help would be appreciated!

[2017-04-26 16:36] #43 closed

[2017-04-26 16:37] Awalz commented on #42
I am closing this issue. If you are having further problems, please open a new issue with detailed issues of what you are trying to achieve, and the current issue you are facing.

[2017-04-26 16:37] #42 closed

[2017-04-26 16:46] #40 closed

[2017-04-26 17:47] Awalz commented on #32
This feature has been added to Version 2.3.0

[2017-04-26 17:47] #32 closed

[2017-04-26 22:41] kmb266 opened #45 "Adding SwiftyCamButton"
I am new to SwiftyCam, but love the idea. I wanted to add the SwiftyCamButton as it says in the READ.ME and I followed what it said, but when I run the app on my phone, all I see is the AVcaptureSession open, and I cannot see the button.
here is my code
`override func viewDidLoad() {
        super.viewDidLoad()
        // Do any additional setup after loading the view, typically from a nib.

[2017-04-26 23:08] Awalz commented on #45
At no point to you add the captureButton to the view. To add a view programatically, you will need to call addSubview:

override func viewDidLoad() {

super.viewDidLoad()

let buttonFrame = CGRect(x: 200, y: 600, width: 200, height: 200)

 

let captureButton = SwiftyCamButton(frame: buttonFrame)

 

cameraDelegate = self 

captureButton.delegate = self

        view.addSubview(captureButton)

 }

[2017-04-26 23:16] kmb266 commented on #45
Thanks! Finally got it to appear.

[2017-04-26 23:16] #45 closed

[2017-04-26 23:39] Awalz commented on #41
This should be resolved with the changes in 2.3.0. If it is not, please open a new issue with detailed information, including screenshots.

Thanks

Andrew

[2017-04-26 23:39] #41 closed

[2017-04-27 07:44] hollowaytyl commented on #40
Perfect! Everything is working nicely. Will stay posted for any further updates. Thanks for your timely response as always.

[2017-04-30 17:46] jjjeeerrr111 opened #46 "Swipe up for camera roll/button to access camera roll"
Would be nice to have the option to pick an image/video from the camera roll without having to exit the swifty cam controller. The functionality could be a camera roll icon and a swipe up to drag the camera roll up

[2017-05-01 15:18] Awalz commented on #46
I will look into this for possible future enhancements

[2017-05-01 15:18] #46 closed

[2017-05-02 01:10] kharmabum opened #47 "Only capture audio while recording video"
The default behavior of the SnapChat camera is to only add the audio capture device and change the audio session category once video capture begins. This is a great UX and would love to see it added to SwiftyCam.

[2017-05-02 01:24] Awalz commented on #47
Agreed, it is on my list of improvements

On Mon, May 01, 2017 at 7:10 PM Juan-Carlos Foust

<
mailto:Juan-Carlos Foust <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

The default behavior of the SnapChat camera is to only add the audio capture device and change the audio session category once video capture begins. This is a great UX and would love to

[2017-05-02 18:51] Raesu opened #48 "SwiftyRecordButton"
Will you add the SwiftyRecordButton into the library as you have in the demo?

[2017-05-02 18:52] Awalz commented on #48
I have no intention on doing that. Maybe at some point in the future I will make a better version as a separate framework, but it won't be a part of SwiftyCam

[2017-05-02 18:56] #48 closed

[2017-05-03 03:25] ryandailey100 opened #49 "Front flash bug"
When taking a front facing picture in the dark with flash on, the flash only shows for a brief second, and goes away before the picture is even taken, resulting in a dark photo. Any way to make the flash last until the picture is taken?

[2017-05-04 13:46] AndresCianio opened #50 "Using Storyboards?"
While I love this component and how simple it is, I'm having quite a weird situation...
I've got everything working as per the demo example, but there is a thing that keeps me bothering, and it's creating the buttons in runtime with fixed frames. Since I hate working with constraints in code I decided to build a simple XIB and setup the buttons there.
The problem is that the previewView hides the

[2017-05-04 17:46] Awalz commented on #50
Indeed, the PreviewLayer is created in ```ViewDidLoad```. It will conflict with with views in XIB's and Storyboards as they are added prior to ```ViewDidLoad``` being called. Calling ```bringSubview(toFront:)``` for your views in ```ViewDidLoad``` would work just fine for now.

I am working on a new build where the PreviewLayer is ```self.view```, rather than added after the fact, which should res

[2017-05-04 19:05] AndresCianio commented on #50
Awesome! I had something like that in mind, but for now I'll stick to `bringSubview(toFront:)`.
Thanks!

[2017-05-04 19:05] #50 closed

[2017-05-05 18:39] arelenglish opened #51 "Add option to capture GPS metadata on captures."
It would be great if there was at least an option to allow GPS meta data to be captured when taking a photo or video.

[2017-05-06 04:57] eli007 opened #52 "Add option to get current preview layer / camera session"
would be nice to be able to access the preview layer or camera session to further manipulate with the use of metadataOutputRectOfInterest

[2017-05-12 16:53] MylesCaley opened #53 "Delegates are strong and causing retain cycle"
Perhaps I am using it incorrectly, but the delegates `SwiftyCamButtonDelegate` and `SwiftyCamViewControllerDelegate` are defined as strong references and were causing a retain cycle for me.
[code]

fixed it for me.

[2017-05-18 14:33] ishandini opened #54 "Camera doesn't work when making phone call"
Camera freeze when making phone call. I need record silent video if user making call and reconnect audio after phone call ends.

[2017-05-23 20:27] umutdonmez8 opened #55 "Video Recording Long Press Gesture Problem"
Hi Andrew,

I have a problem while video recording. As follows:
Very short Long press duration  on SwiftyCamButton causes endless video recording.
In my debug session, I saw all UIGestureRecognizerState.began and UIGestureRecognizerState.ended state code blocks called. But recording never stopped

Thanks for help

[2017-05-24 12:54] caesss opened #56 "Working with Navigation Controller"
First of Thanks for the great work. It appears that setting this controller as part of NavigationController causes the previewLayer to not size properly on deviceRotation. Maybe I'm missing something but if not please consider this case. For now, I'm using it as a standalone ViewController and it all works very well.

Thank you again!

[2017-05-25 04:28] caesss opened #57 "PanGesture"
I'm not sure this is an issue but rather a question. I'm trying to use a panGesture in my Controller to handle a transition to dismiss the CameraController. I've set swipeToZoom to false but that just turns off the execution of the code within the selector. I'm trying to remove the pangesture all together. I know I can just comment out

        //let panGesture = UIPanGestureRecognizer(target: sel

[2017-05-25 09:01] zakdances opened #58 "Could not create video device input: Error Domain=AVFoundationErrorDomain Code=-11814"
Using XCode 8.3 with an iOS 10.3 target. I get this error whenever I designate a ViewController as `SwiftyCamViewController` as per the ReadMe instructions.

[code]

[2017-05-25 20:15] caesss commented on #58
Make sure you are running your code on an actual device and NOT the emulator. Also make sure you've updated the info.plist with this:
<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) Needs to access your camera to take photos and video.</string>

[2017-05-25 21:47] zakdances commented on #58
That was my mistake, thanks.

[2017-05-25 21:47] #58 closed

[2017-05-26 23:22] #53 closed

[2017-05-27 16:05] smidaren opened #60 "Not fullscreen on iPad"
The camera is not in fullscreen when running on iPad

[2017-05-28 06:26] alexcowley commented on #45
I have the code below, however button is not showing up in view.  Is there something I am missing?

[code]
@Awalz

[2017-05-28 15:55] langfors opened #61 "Because of the dependance on UIApplication.shared features, SwiftyCam is not usable in extensions"
I was hoping to use SwiftyCam in an app extension, but because of the limitations of extensions on accessing `UIApplication.shared.beginBackgroundTask(expirationHandler: nil)` and `                        UIApplication.shared.openURL(URL(string: UIApplicationOpenSettingsURLString)!)
`, this library unfortunately cannot be used in an app extension context.  Anyone have any ideas how to work around

[2017-05-30 02:28] Awalz commented on #54
This issue will be looked into for future updates

[2017-05-30 02:28] #54 closed

[2017-05-30 03:31] Awalz commented on #49
I am unable to reproduce this bug on any of my test devices. Do you have any other information?

[2017-06-01 15:11] Awalz commented on #56
This should be fixed on the newest version. If is it not, please submit a new issue. A screenshot would help!

Andrew

[2017-06-01 15:11] #56 closed

[2017-06-01 15:12] Awalz commented on #55
This issue should be fixed on the newest version.

Let me know if issue still persists

[2017-06-01 15:12] #55 closed

[2017-06-01 15:14] Awalz commented on #60
This is due to the Aspect Ratio of the capture session being 16:9.

I have added a `videoGravity` property which changes the contentMode of the preview view. You should be able to change this to fill the screen of the iPad

Andrew

[2017-06-01 15:14] #60 closed

[2017-06-01 15:15] Awalz commented on #57
In the newest version, I have exposed both the `panGesture` and `pinchGesture` used for zoom. You should be able to add an additional action to them, and they will not interfere. No need to add a second panGesture

Let me know if it is still not working

Andrew

[2017-06-01 15:15] #57 closed

[2017-06-01 15:16] Awalz commented on #52
I have exposed the `session` publicly in the newest version. Let me know if you require any other functionality

Andrew

[2017-06-01 15:16] #52 closed

[2017-06-01 15:17] Awalz commented on #47
I have added this as a new feature in the newest version. Set the `audioEnabled` property to false.

Let me know if this does not work for you

Andrew

[2017-06-01 15:17] #47 closed

[2017-06-01 15:19] Awalz commented on #51
I will look into this in the future for possible enhancements. I do not currently have plans on implementing it

[2017-06-01 15:19] #51 closed

[2017-06-02 19:26] SMB47 opened #62 "Noob Problems"
SwiftyCam looked like a great way to get a camera app up and running quickly, but I'm having some very basic problems. Firstly, the preview video does not fill the iPad screen. I've seen your comment about using 'videoGravity' but I'm not sure how to use this. Secondly, none of the button overlays appear on the screen (I have added them as a subview). Is it that I'm using IB? Just don't understand

[2017-06-04 11:08] RBirkeland opened #63 "Multiple views with live camera feed"
First of, thank you for making this project open source!
I'm making an application with multiple features that would build on top of the live camera view. In my project I have 2 views, connected with a segue, and I wish to show the live camera in both of them. The initial view works fine, and shows the camera as expected. However, when I segue to my second view, I only get presented with a grey sc

[2017-06-04 11:32] RBirkeland commented on #63
This issue seemed to be fixed by selection the same Module for both views in the storyboard editor, however Im not 100% certain.

[2017-06-04 11:32] #63 closed

[2017-06-04 16:43] FaridHaddad commented on #17
Can anyone show me how to use [SDAVAssetExportSession](https://github.com/rs/SDAVAssetExportSession) with SwiftyCam to do a video compression ? I just can't understand how it works.

[2017-06-08 00:28] Minebomber opened #64 "Square Image/Video capture"
Hello, I am using this library, but I need to get a square image. Is there a setting for this? (if there is not,  could it be possible to crop it after its taken?

[2017-06-08 04:15] KaushalElsewhere opened #65 "Set previewLayer's frame."
Hi, firstly thanks for this awesome library.
I am trying to set previewLayer's frame according to my design (not as self.view.bounds)
please help.

[2017-06-09 15:40] Minebomber opened #66 "Camera not working when call is in background"
When I call someone, put them on speaker, then go to my app, the preview is just black, as if there was no camera (like running in simulator)

[2017-06-10 05:01] Awalz commented on #65
How are you initializing the SwiftyCamViewController? Can you provide a code snippet

[2017-06-10 05:01] Awalz commented on #66
I will look into this

[2017-06-10 05:02] Awalz commented on #64
There is no current setting for this. You would need to crop the image after it is taken.

I recommend adding overlay views overtop the camera to give the appearance of a square view finder, then cropping the centre of the image into a square once it is taken.

Good luck!

[2017-06-10 05:02] #64 closed

[2017-06-10 05:03] #62 closed

[2017-06-10 05:03] #49 closed

[2017-06-10 09:17] NicoleHinckley commented on #65
I'm also curious about this. I've just got a CameraViewController that is a subclass of SwiftyCamViewController with an IBOutlet for a UIView that I would like to be the previewLayer instead of the entire view.I tried doing something like just
`  let preview = PreviewView(frame: camera.frame, videoGravity: videoGravity)
        super.previewLayer = preview
        super.viewDidLoad()`

in my camer

[2017-06-10 20:18] lynchspin opened #67 "Make camera for video use only"
Is there any property that I can set on the SwiftyCamButton to explicitly state that I will be using the camera for video only?

[2017-06-10 20:25] Awalz commented on #67
Not currently,

I would recommend making your own, custom button that calls `startRecording` and `stopRecording`. That way your app will not take photos

[2017-06-10 20:25] #67 closed

[2017-06-10 20:47] lynchspin commented on #67
Ok, gotcha. So I created a button with a long press recognizer and when I call `startRecording`, I get this error:

"[SwiftyCam]: Movie file finishing error: Optional(Error Domain=AVFoundationErrorDomain Code=-11859 "Movie recording cannot be started" UserInfo={NSUnderlyingError=0x170a543a0 {Error Domain=NSOSStatusErrorDomain Code=-16419 "(null)"}, NSLocalizedFailureReason=A movie recording is alr

[2017-06-10 20:49] Awalz commented on #67
Can you send a code snippet of your custom button?

On Sat, Jun 10, 2017 at 2:47 PM Joseph

<
mailto:Joseph <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Ok, gotcha. So I created a button with a long press recognizer and when I call

startRecording

, I get this error:

"[SwiftyCam]: Movie file finishing error: Optional(Error Domain=AVFoundationError

[2017-06-10 20:58] lynchspin commented on #67
//Create Button for recording
`let captureButton = UIButton (frame: CGRect(x: self.view.frame.size.width/2 - 70, y: self.view.frame.size.height - 160, width: 140, height: 140))
        captureButton.setImage(UIImage(named: "CameraButtonWhite"), for: .normal)
        let longPressRecognizer = UILongPressGestureRecognizer(target: self, action: #selector(longPressed(sender:)))
        longPressRecogn

[2017-06-10 21:02] lynchspin commented on #67
`override func viewDidLoad() {
        super.viewDidLoad()

        //Create Button for recording
        let captureButton = UIButton (frame: CGRect(x: self.view.frame.size.width/2 - 70, y: self.view.frame.size.height - 160, width: 140, height: 140))
        captureButton.setImage(UIImage(named: "CameraButtonWhite"), for: .normal)
        let longPressRecognizer = UILongPressGestureRecognizer(tar

[2017-06-10 22:52] lynchspin commented on #67
Figured it out... `longPressed`was getting called multiple times. So I added a simple conditional to check if it was already recording. I appreciate the help

[2017-06-10 23:20] lynchspin opened #68 "Changing access control from 'public' to 'open'"
Sorry to bombard you, but when I try to implement the long press gesture delegate methods (and other methods) in my SwiftyCamViewController I get this error: "Overriding non-open instance method outside of its defining module"...  They talk about the problem here: https://github.com/MengTo/Spring/issues/197

Could you change the access control from 'public' to 'open' to accommodate on some of thes

[2017-06-10 23:24] Awalz commented on #68
I don't really follow what you are asking. What methods are you trying to override?

On Sat, Jun 10, 2017 at 5:20 PM Joseph

<
mailto:Joseph <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Sorry to bombard you, but when I try to implement the long press gesture delegate methods (and other methods) in my SwiftyCamViewController I get this error: "Overri

[2017-06-10 23:28] lynchspin commented on #68
These three methods specifically:

	public func buttonDidBeginLongPress() {
		startVideoRecording()
	}
	public func buttonDidEndLongPress() {
		stopVideoRecording()
	}

	public func longPressDidReachMaximumDuration() {
		stopVideoRecording()
	}

[2017-06-10 23:33] Awalz commented on #68
I don't understand why you are looking to modify these. These methods are to handle the long press gestures of a SwiftyCam button. If you are using a custom button, you do not need to modify these.

[2017-06-10 23:45] lynchspin commented on #68
My fault. I was thinking those were delegate methods for a long press gesture recognizer. Sorry about that.

[2017-06-10 23:46] #68 closed

[2017-06-14 13:43] rivera-ernesto commented on #40
Seems to be implemented natively here https://github.com/Awalz/SwiftyCam/commit/5fcc21edf9b313480e118586631b71b380b3a6e5. Just CocoaPods' 2.4.0 pending?

[2017-06-15 14:41] Beautistar opened #70 "Want to use 2 separate button"
How can I use two different buttons to take pictures and record videos separately?
Hope your help
Thanks

[2017-06-15 15:32] Awalz commented on #70
You would not want to use to SwiftyCamButtons. I would suggest you use to custom buttons, one that calls `takePhoto()`, and one that will `startRecording` and `stopRecording`

[2017-06-15 15:32] #70 closed

[2017-06-15 15:55] Yin327 opened #71 "Pod install issue"
Hello
I can't install SwiftyCam from podfile

I can see "Unable to find a soecification for 'SwfityCam'"

pod 'SwiftyCam'

Please help me what is problem

Thanks

[2017-06-15 16:47] Awalz commented on #40
Yes sorry. The pod has just been updated

[2017-06-15 16:49] Awalz commented on #71
I just tested and `pod 'SwiftyCam'` in the podfile works without issue.

You will need to provide more information

[2017-06-15 17:13] Yin327 commented on #71
[Documents.zip](https://github.com/Awalz/SwiftyCam/files/1078402/Documents.zip)

I attach pod install issue screenshot and my pod file

[2017-06-15 17:26] Awalz commented on #71
I was just able to install all of your pods using a test project, including SwiftyCam.

I am unsure of your issue. Can you create a test project with Cocoapods , include SwiftyCam, and try to install the pods?

[2017-06-15 17:46] Yin327 commented on #71
ok, it seems my pod version was old.
I have updated my cocoapods and now it works well
Thanks for your effort.

[2017-06-15 17:46] #71 closed

[2017-06-16 08:33] aymankort1 opened #72 "no haptic feedback , vibrations, nor sounds plays during avcapture session"
when I try to play a sound, haptic feedback or vibration when recording or at nay time the avcapture session is running nothing happens. no sounds plays , vibration nor haptic feedback. Thanks btw for the awesome work!

[2017-06-19 18:09] Adnan1990 opened #73 "shrinkButton() crashes while recording video."
self.innerCircle is nil and application crashes  in completion

below is the exact line

self.innerCircle.removeFromSuperview()

[2017-06-19 18:11] Awalz commented on #73
I will look into this.

The button included in the SwiftyCam demo project is NOT part of the SwiftyCam framework FYI

[2017-06-20 03:23] Minebomber commented on #73
@Awalz can I use the button in my app (at least for testing?)

[2017-06-20 19:22] Adnan1990 commented on #73
Got it working by updating shrinkButton()

 public func shrinkButton() {

[code]

[2017-06-21 17:58] petermarathas commented on #73
@Adnan1990 I ran into the same issue and got it to work by changing this line in SwiftyCamButton.swift:

<code>case .cancelled, .ended, .changed, .failed:</code>

to:

<code>case .cancelled, .ended, .failed:</code>

@Awalz Is the expected functionality to end recording during a changed state? State becomes changed just from a slight movement during long press, and that's how I ran into this issue.

[2017-06-21 18:56] Adnan1990 commented on #73
Yes i was able to get it working , i just used case .ended and removed others .

[2017-06-23 13:24] SMB47 opened #74 "Orientation Issues"
I'm getting some orientation issues if I load my app with the iPad in landscape mode. If I tap-to-focus, the preview turns by 90 degrees. This also happens when I tap the button to take the photo (see attached example). Can you please help?

![img_0003](https://user-images.githubusercontent.com/29151724/27484047-a7bd76aa-581f-11e7-9e56-58af371ea194.jpg)

![img_0004](https://user-images.githubuserc

[2017-06-24 17:27] midgard opened #76 "tapGesture"
Hi,

I commentted "tapGesture" and "self.addGestureRecognizer(tapGesture)" but if i single touch to record button it's starting video recording like longGesture.

How can I disable it?

[2017-06-24 18:01] midgard commented on #76
I found problem sorry.

Problem is my line: I updated to 0.3, it's working great now.
longGesture.minimumPressDuration = 0.1;

[2017-06-24 18:01] #76 closed

[2017-06-24 18:02] midgard opened #77 "Video recoding and crash"
Hi @Awalz,

If i move the my finger on screen while take a video , the application is crashes.

What is your suggestions for this problem solving?

[2017-06-24 18:04] midgard commented on #73
+1

[2017-06-25 03:42] HackShitUp opened #78 "Airpods/Bluetooth causes audio to play on device's speaker."
When SwiftyCamViewController is loaded, the audio plays on the device's speaker when using bluetooth earphones.

[2017-06-26 23:05] alexcowley opened #79 "Button not appearing in view"
I have the code below, however button is not showing up in view.  Is there something I am missing?

[code]
@Awalz

[2017-06-27 00:03] Minebomber commented on #79
Add an image to the `captureButton`. `captureButton.setImage(yourImage , forState: UIControlState.Normal)`

[2017-06-27 02:55] caesss opened #80 "Custom buttons in view ignore storyboard layouts"
After I upgraded to 2.4 I ran into an issue with a couple of custom items I was adding to my layout. My outlets were returning nil, so I figured they were not being added to my main vew so I manually added them but in version 2.3 I was able to do this in the storyboard and I was able to assign constraints etc to lay them out. Now I can't. What am I missing? See screenshots attached.

    override

[2017-06-27 03:57] alexcowley commented on #79
The DemoSwiftyCam code does the following:

[code]
Then calls addButtons() in viewDidLoad()

Is this an alternative way of creating the image? If not where can I get the image from to add to captureButton?

@Minebomber

[2017-06-27 04:04] Minebomber commented on #79
The `SwiftRecordButton` is a subclass of the `SwiftyCamButton`, and the record button uses layer properties to draw a button.

[code]

[2017-06-27 16:13] otymartin opened #81 "Request Permission Blocks UI from loading"
@Awalz
<img width="554" alt="screen shot 2017-06-27 at 11 45 57 am" src="https://user-images.githubusercontent.com/2222881/27597873-b0083934-5b31-11e7-8558-931220c227b0.png">

I had an interesting problem where I programatically add a `UINavigationBar` to my view. As the picture shows the NavBar was clearly added but in the app its `not visible`. I traced it back to the system `UIAlerts` that requ

[2017-06-30 07:11] ShaunakP opened #82 "Captured image resolution is limited to 1080x1920"
I am in camera mode and after capturing the image, I see that the image resolution is downscaled to 1080x1920 even though I have 12mp camera. Is there a default setting that we need to override to update the camera capture quality in SwiftyCam?

[2017-07-04 03:04] bui2jp commented on #80
I am facing the same issue and investigating
Is there any update??

[2017-07-04 04:41] bui2jp commented on #80
I found one solution.
We can set NSLayoutConstraint in viewDidLoad(). They works fine.

[2017-07-04 12:12] MehdiChennoufi commented on #65
Hi everyone, i'm also interested to add a customise preview Layer on my design but I don't know where to start. Can you give me any advice ? Thank you

[2017-07-05 03:56] bui2jp commented on #65
Hi,
I am also trying to change "previewLayer" based on my CameraViewController (this is subclass of SwiftyCamViewController).

The "previewLayer" is initialized in viewDidLoad() of SwiftyCamViewController. so I think we need to change this portion.

my changes is below,

class CameraViewController: SwiftyCamViewController, SwiftyCamViewControllerDelegate {
 :
@IBOutlet weak var myPreviewLayer: Pre

[2017-07-06 07:20] Zf97 opened #83 "Custom UIButton won't respond to single tap"
I have added more buttons in the view and they will not respond to a single tap gesture, I have tried adding them in the storyboard as well as programmatically  to no avail.

[2017-07-06 07:36] #83 closed

[2017-07-06 08:02] NickAwesome opened #84 "How can i scroll in cameraView like snapchat"
Hi ,
awesome framework , much appreciate.  I try to make a similar snapchat app with this framework , but when i attached it to scrollView , I cannot scroll it, i try to disable the zoom action , but it still doesnt work , can you guide me for it , thanks

[2017-07-07 11:50] JCsplash commented on #73
+1

[2017-07-07 12:25] ilsainteractive opened #86 "Low light setting"
Low light setting was only working in 5 and 5c
Please solve this issue ASAP

[2017-07-07 12:29] #73 closed

[2017-07-10 05:16] Rozariozaro opened #88 "Xcode 9 UI API Main thread checker error"
[UIView layer] should be called in main thread.
This error is throwed in preview view of swiftyCam.
Please solve this issue ASAP

[2017-07-10 12:21] mrfarukturgut opened #89 "Show Camera view on a view"
My question is, is there a way to show camera view on a view that created in storyboard not in whole view controller's view?

[2017-07-10 12:36] mrfarukturgut commented on #89
Quick update, did it with using container view

[2017-07-10 12:36] #89 closed

[2017-07-10 13:57] mrfarukturgut opened #90 "ContentMode of previewView"
Is there any way to set or change the contentMode of cameraView? It is because I am using container view to show camera view not on the whole screen, and if the container view's aspect ratio is not exactly 16:9, then there are some black gaps.

[2017-07-10 15:20] MuffinTime commented on #90
You have to add

videoGravity = .resizeAspectFill;

before line

super.viewDidLoad()

[2017-07-10 21:45] mrfarukturgut commented on #90
Thanks!

[2017-07-10 21:45] #90 closed

[2017-07-10 21:48] mrfarukturgut opened #91 "How to know that there is no space for recording video"
Apperantly my device has no space to record a video, so when I call `startVideoRecording` method, It throws this on the console;

`[SwiftyCam]: Movie file finishing error: Optional(Error Domain=AVFoundationErrorDomain Code=-11807 "Operation Stopped" UserInfo={NSLocalizedDescription=Operation Stopped, NSUnderlyingError=0x170241470 {Error Domain=NSOSStatusErrorDomain Code=-16411 "(null)"}, NSLocaliz

[2017-07-10 22:00] mrfarukturgut commented on #91
I just looked through the codes and think you can add `error` parameter to the `didFinishRecordingVideo` as optional value and call the delegate with error if `error != nil` below this code

[2017-07-11 05:32] eric-krikey commented on #50
Can you elaborate on this concept (calling `bringSubview(toFront:)`)? When I have tried to do this, it hasn't actually worked. I am using a simple storyboard. I put a UINavigationBar and a button on, intending to be overlaid on the camera stream. Here is my code in `viewDidLoad()`:
`navBar.superview?.bringSubview(toFront: navBar)
recordButton.superview?.bringSubview(toFront: recordButton)`

[2017-07-11 12:33] AndresCianio commented on #50
I was doing just that... for each of my custom buttons, calling its superview `bringSubview(toFront:)`. Don't know about the navbar though.
I have a ViewController that inherits from `SwiftyCamViewController`, and in this VC `viewDidLoad` I do:
`      closeButton.superview?.bringSubview(toFront: closeButton)
        mainButton.superview?.bringSubview(toFront: mainButton)
        misteryToggleButto

[2017-07-11 18:57] eric-krikey commented on #50
Hmm. Yeah, no matter what I seem to do, I can't get my UIButton or SwiftyButton to appear. I even tried to use the Debug View Hierarchy tool, and I can't see anything from my xib on it.

[2017-07-13 02:49] mayqiyue commented on #77
+1

[2017-07-13 02:50] mayqiyue commented on #77
The log:
Did Begin Recording
Did finish Recording
Did finish Recording
fatal error: unexpectedly found nil while unwrapping an Optional value
2017-07-13 10:32:46.403462+0800 DemoSwiftyCam[2860:903340] fatal error: unexpectedly found nil while unwrapping an Optional value

[2017-07-15 04:00] annjawn opened #92 "Buttons go out of view frame in landscape mode"
The Camera button, flip camera view button and the flash button is not visible in landscape mode (at least in the demo project).

Same behavior in Xcode simulator as well as physical device (iPhone).

![swiftycam](https://user-images.githubusercontent.com/26977294/28236296-6b07387c-68d7-11e7-8826-3daa64151921.gif)

[2017-07-21 20:01] ElliottDiaz opened #93 "Video Crash On Latest CocoaPod Update - UILongPressGestureRecognizer Function - Found Location Of Bug, Please Fix"
Just updated the cocoapods and the video would crash as soon as I started recording, definitely scared me.

I dug into the code and it seems like this is the root of the problem as it works with the prior method. The newer method simply just crashes

***Older Working Method

  /// UILongPressGestureRecognizer Function

    @objc fileprivate func LongPress(_ sender:UILongPressGestureRecognizer!)  {

[2017-07-21 20:31] ElliottDiaz commented on #77
I noticed the same thing. Found the location of the bug and if you switch the Long Press method in the swiftycambuttondelegate to this, then it should work, let me know if it does!

@objc fileprivate func LongPress(_ sender:UILongPressGestureRecognizer!)  {
      if (sender.state == UIGestureRecognizerState.ended) {
        invalidateTimer()
        self.delegate?.buttonDidEndLongPress()
      } e

[2017-07-25 08:03] jjpatel1996 opened #94 "in ipad it's showing in portrait rectangle."
in ipad it's showing in portrait rectangle. if i select high videoQuality then it's showing like that. but it works great in iphone.  how can i fix that?

[2017-07-25 08:44] #94 closed

[2017-07-25 15:37] jjpatel1996 opened #95 "how can i disable taking images in any orientation other than Portrait?"
How can i capture image in portrait orientation even if camera is in landscape for  orientation is lock in portrait?

[2017-07-25 17:27] javaboyjunior opened #96 "No audio on video > 12/13s in length"
Hi there,

I am finding that videos of greater than about 13s in length have no audio. I have narrowed this down to the file format needing to be mov not mp4:

In SwiftCamViewController.swift:

[code]

Let me know if you would like a PR for this or if I should just fork.

Many thanks for the great work!

Mike

[2017-07-25 17:31] javaboyjunior commented on #96
Sorry, was working from someone else's fork.

[2017-07-25 17:31] #96 closed

[2017-07-26 05:03] isabella-teng opened #97 "how to save the video url in remote database and access again to load the video?"

[2017-07-26 18:00] isabella-teng commented on #97
the video is greyed out and doesn't play

[2017-07-28 00:53] HackShitUp opened #98 "IBOutlets in Storyboard are not contained within UIViewController"
I subclassed SwiftyCamViewController and added UIButtons with Autolayout. But the UIView objects are misplaced during run time.

[2017-07-28 11:47] Jitenderios opened #99 "camera screen getting paused when user open camera while on call."
camera screen pauses when user's is on phone call. After the call ends, the camera view screen resumes to normal.

[2017-08-01 07:26] Usman4Whizpool opened #100 "code need to update for Swift 4.0"

[2017-08-03 15:35] vintagepenguin commented on #93
I tested this & can verify that the fix works. Solid work @ElliottDiaz  💯

[2017-08-10 17:28] Awalz commented on #100
Updates

[2017-08-10 17:28] #100 closed

[2017-08-19 12:11] masuhara opened #101 "bringSubview not work ver. 2.4.x"
1. UIView(UIButton, UIImageView, etc...) on the Storyboard with IBOutlet.
2. bringSubview_toFront in viewDidLoad func.
3. not showing the view.

**ver.2.2.x works, but 2.4.x does not work.**

[code]

Are there good solutions?

[2017-08-20 14:03] YurickDe opened #102 "Video Recording 4K outputs 1080p"
When recording with VideoQuality.resolution3840x2160 the output video results in 1080p resolution.

Result is also the same on VideoQuality.high.

Tested on iPhone 6s Plus running 10.3.3.

[2017-08-22 12:43] YurickDe commented on #102
Quick fix was setting the quality parameter in this function below under SwiftyCamViewController.swift to my desired resolution.

Not genuine fix, just workaround.

`fileprivate func configureVideoPreset() {

    if currentCamera == .front {
        session.sessionPreset = videoInputPresetFromVideoQuality(quality: .high)
    } else {
        if session.canSetSessionPreset(videoInputPresetFromVideo

[2017-08-23 04:59] HackShitUp commented on #92
Have you resolved this issue?

[2017-08-23 20:27] annjawn commented on #92
@HackShitUp No I haven't. I moved on with using a different library.

[2017-08-23 21:47] HackShitUp commented on #92
@Awalz actually, I believe Autolayout constraints used in Storyboard for previous versions of SwiftyCam worked perfectly fine...

[2017-08-23 22:02] Awalz commented on #92
I believe they did as well. The current demo project there are no constraints and the buttons are not present in the Storyboard. They are created programatically with some lazy, static coordinate frames. I will update it to use auto layout in a future version

[2017-08-24 01:10] HackShitUp commented on #92
@Awalz awesome. Thank you!

[2017-08-24 02:05] ryandailey100 opened #103 "Update release to include recent video crash fix"
Can you update the release so that it includes the recent video crash fix? Thanks

[2017-08-24 20:03] Jaspur opened #104 "Example demo project broken"
![schermafdruk 2017-08-24 21 56 22](https://user-images.githubusercontent.com/4254854/29686118-16b96d74-8918-11e7-8d0b-05a74f045e06.png)

[2017-08-25 20:54] Awalz commented on #77
Issue should be fixed in version 2.6.0

[2017-08-25 20:54] #77 closed

[2017-08-25 20:54] #65 closed

[2017-08-25 21:01] Awalz commented on #74
Issue should be resolved in version 2.6.0

[2017-08-25 21:01] #74 closed

[2017-08-25 21:02] Awalz commented on #79
Issue should be resolved in version 2.6.0

[2017-08-25 21:02] #79 closed

[2017-08-25 21:02] Awalz commented on #80
Issue should be resolved in version 2.6.0

[2017-08-25 21:02] #80 closed

[2017-08-25 21:03] #81 closed

[2017-08-25 21:04] Awalz commented on #82
No, SwiftyCam uses the video feed so both video and images can be captured. The photo that is captured is limited to the resolution of the video feed

[2017-08-25 21:04] #82 closed

[2017-08-25 21:04] #84 closed

[2017-08-25 21:05] Awalz commented on #86
AVFoundation low light setting is only supported in 5 and 5C: https://developer.apple.com/documentation/avfoundation/avcapturedevice/1624595-islowlightboostsupported

[2017-08-25 21:05] #86 closed

[2017-08-25 21:05] #88 closed

[2017-08-25 21:06] Awalz commented on #93
Resolved in 2.6.0

[2017-08-25 21:06] #93 closed

[2017-08-25 21:07] Awalz commented on #95
This feature is not currently supported. Will look into it for the future

[2017-08-25 21:07] #95 closed

[2017-08-25 21:07] #97 closed

[2017-08-25 21:08] Awalz commented on #99
I will look into this

[2017-08-25 21:23] Awalz commented on #101
Issue is resolves in 2.6.0. You will no longer need to call bringSubview(toFront:)

[2017-08-25 21:23] #101 closed

[2017-08-25 21:23] Awalz commented on #103
Check new version 2.6.0

[2017-08-25 21:23] #103 closed

[2017-08-25 21:23] Awalz commented on #104
Fixed in version 2.6.0

[2017-08-25 21:23] #104 closed

[2017-08-25 21:26] Awalz commented on #102
I justed tested and my iPhone 7 records at 3840x2160. Can you confirm this occurs for the back camera and not the front

[2017-08-25 21:27] Jaspur commented on #104
🎉  thnx

[2017-08-25 21:29] Awalz commented on #98
Issue should be resolved in version 2.6.0

[2017-08-25 21:29] #98 closed

[2017-08-25 21:33] renege commented on #104
How to run this example? Because it does not make opening my Simulator. Greetz Rene

[2017-08-25 22:02] Awalz commented on #104
You cannot run a camera app in a simulator. You will need a physical device to test the features

[2017-08-25 22:23] renege commented on #104
@Awalz nothing is happening when trying to build it to my ipad via xcode

[2017-08-26 07:44] HackShitUp commented on #98
@Awalz Awesome! Thank you so much!

[2017-08-26 16:29] ryandailey100 opened #105 "Returning video as a .mp4 format"
Is it possible to return the video in a .mp4 format rather than a .mov ? Please get back to me as soon as possible, thanks.

[2017-08-28 09:49] Jitenderios commented on #99
okay. thanks. Actually i find out the cause of this issue. Its because of the use of phone microphone. During call, the microphone get activated for call but the same if swift camera is opened, it also needs microphone usage for video recording. Because of this conflict, the camera screen gets paused,. Hopes this will help in finding solution.

[2017-08-30 05:23] piv199 opened #106 "Remove hardcoded reaction to unauthorized/failed status"
[code]

Create optional delegate methods, and if they are absent call such implementation... There are some cases when you need not to show alert, but some view on your UI.

[2017-08-30 17:37] Awalz commented on #106
This is a good idea. I will add this on a future release

[2017-08-31 00:22] biscottigelato opened #107 "Camera button pressed before session.isRunning becomes true results in NSInternalInconsistencyException"
I added some Prints into capturePhotoAsyncronously(). Basically if the function is called before session.isRunning == true, then AVCaptureStillImageOutput will throw an NSInternalInconsistencyException.

DEBUG_USER_ACTION: CameraViewController.capturePressed()  #file = /Users/biscottigelato/Documents/Dev Space/EatellyApp/SomeFoodieApp/CameraViewController.swift #function = capturePressed #line = 5

[2017-08-31 00:37] biscottigelato commented on #107
Working around this by disabling the camera button until .AVCaptureSessionDidStartRunning via NoficiationCenter observation. If this is a requirement please add this to the Readme documentation? Thanks!

[2017-08-31 01:06] Awalz commented on #107
I haven't run into this issue. I was hoping that checking for `self.session.isRunning` is `true` before calling `captureStillImageAsynchronouslyFromConnection:completionHandler:`, but it appears this exception is raised while `self.session.isRunning` is `true`. Can you confirm?

[2017-08-31 01:16] biscottigelato commented on #107
`self.session.isRunning` is only checked to stop the Preview Layer from appearing. I don't think there's anything within the framework preventing `SwiftyCamButton.Tap` from being executed?

Basically to reproduce the condition, one just have to keep hammering the camera button as the view is still loading. The odd is the camera session is going to take a while to get running, and `SwityCamButton.T

[2017-08-31 01:19] Awalz commented on #107
If you are running from source, can you try:

	fileprivate func capturePhotoAsyncronously(completionHandler: @escaping(Bool) -> ()) {

        guard self.session.isRunning == true else {
            print("Cannot take photo while session isn't running")
            return
        }
        ...

[2017-08-31 02:23] biscottigelato commented on #107
Very strange...

[code]

[2017-08-31 02:24] biscottigelato commented on #107
With my implementation, I was not able to make it crash. Not sure if it's just a pure timing thing...

`// Listen to notification of when SwiftyCam's AVCaptureSession isRunning == true
    NotificationCenter.default.addObserver(forName: .AVCaptureSessionDidStartRunning, object: nil, queue: OperationQueue.main) { _ in
      self.captureButton?.isEnabled = true
      NotificationCenter.default.remov

[2017-08-31 02:38] biscottigelato commented on #107
And again, my test method is just basically hammering that capture button as quickly as i can after i pressed from a previous view to launch the camera view.

[2017-08-31 03:00] Awalz commented on #107
Can you try branch `testFix`

[2017-08-31 23:17] biscottigelato commented on #107
Will do, but very swamped at the moment. I'll try to give it a run Saturday.

[2017-09-03 22:54] biscottigelato commented on #107
I got this. I browsed through the new delegate and it doesn't seem there's one that indicates that capture session is ready/started?

🔷 User Action - CameraViewController.captureTapped() (CameraViewController.swift:70)
🔷 User Action - CameraViewController.capturePressed() (CameraViewController.swift:65)
🔷 User Action - CameraViewController.captureTapped() (CameraViewController.swift:70)
[SwiftyCam

[2017-09-05 19:39] Jaspur commented on #105
I even get a .qt, how did you get a mov? mp4 is preferable

[2017-09-05 19:41] Jaspur opened #108 "16:10 instead of 16:9, both video and photo"
Hi, screen shows the camera in 16:9 on iPad (with borders on top and bottom). Preferable is to get it fullscreen. I changed ```resizeAspectFill``` (#25) already, but output is stretched.

[2017-09-05 19:57] #108 closed

[2017-09-05 20:06] Wndworks commented on #11
@Awalz @avaan Are there any examples of this? 👍

[2017-09-06 18:43] #61 closed

[2017-09-07 05:11] porzal commented on #74
When will 2.6.0 be out? I just downloaded the zipped file from this and I am still seeing this same issue.

[2017-09-09 15:02] mahajnamahmod opened #110 "Blocking scroll in scroll view"
Putting swiftycam in a view controller with other scroll views blocks scrolling between views(think like snapchat).

[2017-09-10 04:18] mping123 opened #111 "Incorrect exposure in landscape mode"
Dear sir,

Appreciate if you could help investigate the below issue
1. AutoExposure works perfectly in portrait mode, but not working normally when it is in landscape mode.
2. The focus point seems correct in both portrait and landscape mode.

Is the coordinate system for autoexposure rotated 90 degree during landscape mode?
Hope you could point me to the part of the code which might fix this.
Tha

[2017-09-12 20:32] nikolas7892 opened #112 "Tap to record"
How is it possible to tap the button to record and un-tap to stop?

[2017-09-12 22:07] Awalz commented on #112
Yes, you would just want to create your own custom button, not use SwiftyCamButton. Setup your custom button to call `startRecording` and `stopRecording` as you wish

[2017-09-12 22:07] #112 closed

[2017-09-14 08:56] tounaobun opened #113 "Swift 4.0 version expected."
Swift 4.0 version expected.

[2017-09-14 10:28] #113 closed

[2017-09-20 00:40] jonchui commented on #60
FYI, if you model your camera after their example code and subclass `SwiftyCamViewController`, you have to set the videoGravity before you call `super.viewDidLoad` since that is where the videoGravity variable gets passed in.

[2017-09-22 05:53] jpowang opened #114 "Switching camera to front not working with Swift4 Branch Demo"
Switching camera to front camera not working with Swift4 Branch Demo.

[2017-09-22 11:49] Jaspur opened #115 "Other output then .QT, how?"
@Awalz  how to get some other format then just .QT? Like MP4 or MOV.

[2017-09-23 10:55] raj21kadam commented on #88
// Set preview layer in main thread
DispatchQueue.main.async {
}

[2017-09-26 12:58] ohadnav commented on #115
see https://stackoverflow.com/questions/20282672/record-save-and-or-convert-video-in-mp4-format

[2017-09-26 12:59] ohadnav opened #116 "UI API called on a background thread"
`getVideoOrientation()` is invoked from a background thread

[2017-09-26 14:37] ohadnav commented on #116
This code solves this:
[code]

[2017-09-26 22:10] ge0rgetang opened #117 "[SwiftyCam]: Cannot take photo. Capture session is not running (swift4)"
Unable to manually call takePhoto() or startVideoRecording() - console prints that capture session is not running.

[2017-09-27 02:57] spongemook opened #118 "how to square capture?"
how to square capture?

[2017-10-02 17:00] dppeak commented on #116
Same premise here, but keeping the "guard"

[code]

[2017-10-04 03:45] ishandini opened #119 "Wrong zoom scale"
Zoom scale is wrong when open camera but it will correct after switching.

[2017-10-05 12:16] mahesh576 opened #121 "Not fit to iPad Screen"
In ipad camera is not fitting to the screen , Camera is showing as iPhone screen size
![simulator screen shot - ipad air - 2017-10-05 at 17 45 24](https://user-images.githubusercontent.com/6152435/31226787-18c7b820-a9f5-11e7-8c6b-09832c7783dc.png)

[2017-10-05 12:45] #121 closed

[2017-10-05 12:45] mahesh576 commented on #121
Adjusting   videoGravity = .resizeAspectFill  Resolved the issue.

[2017-10-06 06:20] jpowang opened #122 "Camera not zoomable in Swift4 version"

[2017-10-11 00:53] waterdrake opened #123 "Bluetooth earbuds cause music to play through speakers when opening swiftycam"
If you are listening to music on your phone with bluetooth earbuds and you open a swiftycam app, the music will play through the phone's speaker out loud.

Not sure if this is fixable...?

[2017-10-16 14:20] igorkulman opened #124 "Wrong photo orientation when device has orientation lock enabled"
I use `shouldUseDeviceOrientation = true` and everything works fine when the device does not have orientation lock enabled. But when I enable it, all the landscape photos are rotated to portrait.

[2017-10-16 14:28] igorkulman commented on #124
Looks like https://github.com/Awalz/SwiftyCam/pull/109 should fix this, when will it get to `master` and into a new release?

[2017-10-16 14:35] igorkulman commented on #124
I tried using the `Swift4` branch with Carthage but it is not buildable.

[2017-10-18 01:59] risingsunomi opened #125 "Compiling Errors when trying to use SwiftyCam"
I have used CoCoaPods to install SwiftyCam to a project and I am getting 38 issues seem to be obsoleted issues. All I am doing is importing SwiftyCam to my ViewController.swift (which is giving me a warning that no such module 'SwiftyCam' found) and when building I come up with a lot of issues. Is this project out of date or is this something the xcode 9? Spending hours trying to figure out what t

[2017-10-18 14:51] jonandersen commented on #125
Looks like you are using swift 4.  You can use the swift 4 branch
https://github.com/Awalz/SwiftyCam/tree/Swift4

[2017-10-18 14:51] #125 closed

[2017-10-18 17:32] risingsunomi commented on #125
Thank you Jon - Also, anyone having further issues and need to use swift4 (using CocoaPods) use this line

<code>
pod 'SwiftyCam', :git => 'https://github.com/Awalz/SwiftyCam.git', :branch => 'Swift4'
</code>

[2017-10-18 17:58] jonandersen commented on #123
Closing as duplicate of https://github.com/Awalz/SwiftyCam/issues/78

[2017-10-18 17:58] #123 closed

[2017-10-19 01:20] irtefa opened #126 "How to install if I am using Swift 4?"
If I install using cocoapods, I get compiler error e.g.
`'AVLayerVideoGravityResize' has been renamed to 'AVLayerVideoGravity.resize'`

[2017-10-19 14:04] jonandersen commented on #126
Hi @irtefa

you can use the swift-4 branch to do this:

[code]

[2017-10-19 14:04] #126 closed

[2017-10-20 12:33] codepushr commented on #117
Same here.

[2017-10-23 03:09] otymartin commented on #114
@jpowang @Awalz
Its this code
[code]

[2017-11-04 06:58] RoyalKingMomo opened #128 "Xcode 9 not swift 4.0 compatible?"
Just went ahead and installed via pods and the entire project seemed to have countless compiler errors.

[2017-11-04 09:23] AliNaranjeeSani opened #129 "How I can show timer while recording video ?"
Hi ,
How I can show timer while recording video ?

[2017-11-05 21:25] brhoomjs commented on #128
**You can change swift version for this pod**

by going to

Make it **3.2**

[2017-11-09 12:58] Patrice89 commented on #119
I have a similar problem. The Zoom is way too narrow after loading and switching cameras doesnt change anything. Zooming also doesn't work. I'm using it on an iPad.

[2017-11-12 00:30] specc commented on #117
I have the same issue here.
I looked into the code.
Seems like the following is never called to set sessionRunning to true
  @objc private func captureSessionDidStartRunning() {
        sessionRunning = true
        DispatchQueue.main.async {
            self.cameraDelegate?.swiftyCamSessionDidStartRunning(self)
        }
    }

hence sessionRunning is always false

 guard  sessionRunning == true

[2017-11-12 13:13] abukamil opened #130 "front camera do not have zoom ?"

[2017-11-14 00:44] tamoyal commented on #110
you can:
1. fork the repo
2. publicly expose `previewLayer` (multiple forks do this so poke around the network graph if you don't know how)
3. in your `viewDidLoad` of the `SwiftyCamViewController` subclass, remove the pan gesture:
[code]
Or you can also conform to `UIGestureRecognizerDelegate` in your subclass and implement logic in the delegate method `shouldRecognizeSimultaneouslyWith`

[2017-11-18 21:59] vitorspencer opened #131 "Skip Mic permission request (when only taking photos)"
I am currently using this awesome framework just for photos.
In that case it doesn't make sense to request Microphone permission, and confuses the user as the app is for taking photos only.
Is there any way to skip the Mic permission request for this case?

[2017-11-23 08:43] jjpatel1996 opened #133 "Focus is not working if tap on far object"
I am currently using this awesome framework. But i notice sometime focus not working on objects which is far from camera. i'm not able to find why this happening so please help me. i also attache image. First two image is capture using this framework. and last two is capture from apple camera framework,[
![screen shot 2017-11-21 at 11 47 34 am](https://user-images.githubusercontent.com/21098119/33

[2017-11-24 15:27] artemkalinovsky opened #134 "metadataOutputRectConverted(fromLayerRect:) return bounds for preview layer"
Hi,

I want to crop photo to my preview layer, so I've wrote this function:

[code]

I call it in `photoFileOutput?.captureStillImageAsynchronously(from: , completionHandler:)` completion, but it not works, because method `metadataOutputRectConverted(fromLayerRect:)` returns same `CGRect` as` previewLayer.videoPreviewLayer.bounds` :(

Please, help

[2017-11-24 17:45] jnkfong commented on #129
Set the following variables:
`var progressTimer : Timer!`
`var progress : CGFloat! = 0`

On begin recording method:
` self.progressTimer = Timer.scheduledTimer(timeInterval: 0.05, target: self, selector: #selector(updateProgress), userInfo: nil, repeats: true)`

add the function:
`@objc func updateProgress() {`
`        let maxDuration = CGFloat(30) // Max duration of the recordButton`
`       pro

[2017-12-01 03:30] aurora14 commented on #122
Currently having the same issue. Was able to do a workaround by providing an explicit gesture recogniser in my own controller and locally changing the access modifier for zoomGesture(pinch:)

I do realise that's not ideal, but for whatever reason the default library implementation isn't adding the gesture recogniser to the view controller, so the zoom doesn't function.

[2017-12-01 04:09] aurora14 commented on #99
Any updated on this by any chance?

[2017-12-07 01:42] shemchavez opened #135 "Version compatibility"
Is SwiftyCam now compatible to Swift 4?

[2017-12-07 02:41] risingsunomi commented on #135
Hi,

There is a branch for swift4 on this project that you can choose for cloning/downloading. It will then work with swift4. Let us know any issues you have getting to it.

![image](https://user-images.githubusercontent.com/1927935/33695996-9c2da444-daac-11e7-8422-86d7a8d793b7.png)

Thanks

[2017-12-07 08:56] shemchavez opened #136 "Camera Preview not scaling correctly"
Image is attached.

![ecfd647e-ca2c-4a42-99f8-23ae7702761b](https://user-images.githubusercontent.com/19364885/33706573-7fd8c936-db6f-11e7-9bb9-693c617db995.jpg)

[2017-12-07 10:09] shemchavez commented on #136
Solved it myself, just need to set the

**self.videoGravity = .resize**

before super.viewDidLoad()

in  the class where you extends the SwiftyCamViewController

[2017-12-07 10:10] shemchavez commented on #135
Thanks! 👍

[2017-12-10 06:24] intrigua opened #137 "Preview orientation changes on focus in swift4"
When auto-rotation is disabled in portrait mode, placing device horizontally and tapping somewhere to focus causes preview layer to rotate. I did fix that by replacing this code:

[code]

with this:

[code]

[2017-12-11 15:06] prefect42 commented on #117
+1

[2017-12-13 11:39] zeeshanbiit opened #138 "Black Bar on Top and Bottom"
showing Black bar on the top and bottom of the video how can we remove that

[2017-12-16 15:54] thebigkhaled opened #139 "panGesture is not optional"
Hello,

PanGesture can interfere with other Scroll recognizer that uses swipe gesture in the same view controller.
It is not possible to remove panGesture (swipe to zoom) from being registered into previewLayer recognizer without altering the source code. This happen due to panGesture is set as private function and no option to remove it from code.

It should allow the following code to run option

[2017-12-19 06:24] lynchspin opened #140 "iPhone X support"
Are there any plans for SwiftyCam to support iPhone X? Specifically configuring the camera to take up the full screen. If this is already supported, please advise me on how to properly configure.

Very much appreciate the help.

[2017-12-19 19:59] hollowaytyl opened #141 "Is there anyway to make the inner circle that grows when recording video a perfect circle??"
Hello,

I'm currently playing around inside:

public  func growButton() {
        innerCircle = UIView(frame: CGRect(x: 0, y: 0, width: 1, height: 1))
        innerCircle.center = CGPoint(x: self.bounds.midX, y: self.bounds.midY)
        innerCircle.backgroundColor = UIColor.red
        innerCircle.layer.cornerRadius = innerCircle.frame.size.width / 2
        innerCircle.clipsToBounds = true

[2017-12-28 19:10] Woodyjl commented on #139
Hey,

This was my solution. I used the function below in my view controller to cancel or enable the Swiftycam's pan gesture. Hope this was helpful.

`func gestureRecognizer(_ gestureRecognizer: UIGestureRecognizer, shouldReceive touch: UITouch) -> Bool {
        print(gestureRecognizer)
        return false
    }`

[2017-12-28 19:27] Woodyjl commented on #139
It looks like the panGesture is public now, so you can handle it with delegate functions.

[2017-12-30 02:15] hollowaytyl commented on #141
innerCircle = UIView(frame: CGRect(x: 0, y: 0, width: 2, height: 2))

[2017-12-30 02:15] hollowaytyl commented on #141
innerCircle = UIView(frame: CGRect(x: 0, y: 0, width: 2, height: 2))

[2017-12-30 02:15] #141 closed

[2018-01-01 04:03] Woodyjl commented on #140
@lynchspin Just figured out there is already built in iPhone X support just change the videoGravity to .resizeAspectFill before the super.viewDidLoad() or in override the loadView() function in your viewController subclass

[2018-01-03 09:03] lynchspin commented on #140
That's awesome. Good stuff @Woodyjl ! Really appreciate it

[2018-01-03 09:03] #140 closed

[2018-01-06 04:46] sri1sri commented on #125
tanks worked for me and saved my time....

[2018-01-10 11:40] aurora14 commented on #66
Still an issue. Any news on this?

[2018-01-14 02:44] yousifa opened #142 "Camera in subview"
How can I load SwiftyCam in a subview? My subview is a smaller portion of the screen

[2018-01-15 08:13] #142 closed

[2018-01-16 01:27] yousifa commented on #139
[code]

[2018-01-16 01:56] thebigkhaled commented on #139
Thanks, I guess that solve it.

[2018-01-16 01:56] #139 closed

[2018-01-16 02:10] thebigkhaled opened #143 "Preview layer does not scale well with Iphone x screen"
Hi,

Setting the video gravity to resize does not scale well with iphone x screen.
`videoGravity =.resize`

Any idea how solve this issue ?

[2018-01-23 11:50] Jitenderios commented on #99
@Awalz any update on this issue?

[2018-01-28 15:20] adnanAhmad786 opened #145 "Front and back camera orientation videos merging issue"
While merging two videos with different orientations, one video gets inverted.

![img_6133](https://user-images.githubusercontent.com/1033708/35483845-995159e2-0468-11e8-9e2e-8d1703381bbf.PNG)

[2018-02-01 07:58] Jitenderios opened #146 "Video recording in continuous loop for infinite time."
hi @Awalz ,
When user records video and comes back to camera screen from  recorded preview screen and record again and follows the same steps 3-4 times . In this case the  the delegate function- func swiftyCam(_ swiftyCam: SwiftyCamViewController, didFinishRecordingVideo camera: SwiftyCamViewController.CameraSelection) is never getting called,  even when the user releases the long press and the vi

[2018-02-01 09:15] Jitenderios commented on #55
hi @Awalz,

This issue is still there.
https://github.com/Awalz/SwiftyCam/issues/146

[2018-02-07 09:42] aurora14 commented on #130
Zoom was for some reason disabled for the front camera - had to manually alter the code to get it to work again

[2018-02-23 06:49] Rogho opened #147 "delete recorded videos"
Is there any functionality to delete recorded videos?

[2018-02-26 05:23] papipons commented on #126
Good day! Is the swift-4 branch stable?

[2018-02-26 17:26] BrettRosen opened #148 "SwiftyCamDidFinishProcessingVideoAt(url:) not being called?"
All the other delegate methods are working for me besides `SwiftyCamDidFinishProcessingVideoAt(url:)`. The delegate method for recording began and recording finished both function properly, but after finishing recording, `SwiftyCamDidFinishProcessingVideoAt(url:)` is not called. I tried looking in the framework and I can't find anywhere where `capture()` is called which is the method where the del

[2018-02-28 08:50] iad24 opened #149 "Overlays in Camera"
It is possible to put custom overlays or view on top of the camera screen?

[2018-03-06 13:02] KKKKaras opened #150 "when turn on the phone rotation, Clicking the gesture causes the layer to rotate"
``
func swiftyCam(_ swiftyCam: SwiftyCamViewController, didFocusAtPoint point: CGPoint) {
		let focusView = UIImageView(image: #imageLiteral(resourceName: "focus"))
		focusView.center = point
		focusView.alpha = 0.0
        self.view.addSubview(focusView)

		UIView.animate(withDuration: 0.25, delay: 0.0, options: .curveEaseInOut, animations: {
			focusView.alpha = 1.0
			focusView.transform = CGAf

[2018-03-06 13:19] KKKKaras opened #151 "when use "maximumVideoDuration" the "didFinishRecordingVideo" will executed twice"
add
` public var isEndRecord                       = false`
to limit the second  executed

    public func buttonDidEndLongPress() {

        print("长按结束")

        if(isEndRecord == false)

        {

            stopVideoRecording()

        }

	}

	/// Called if maximum duration is reached

	public func longPressDidReachMaximumDuration() {
        isEndRecord = true
		stopVideoRecording()
	}`

[2018-03-06 13:23] KKKKaras commented on #105
[code]

[2018-03-06 13:26] KKKKaras commented on #124
CoreMortion is good idea

[2018-03-06 23:58] biscottigelato opened #152 "Shared AudioSession set to AVAudioSessionCategoryPlayAndRecord but never set back"
As titled. In SwiftCamViewController.swift, the shared AVAudioSession instance is set to AVAudioSessionCategoryPlayAndRecord, but never set back (to say, AVAudioSessionCategorySoloAmbient).

This can cause all sorts of trouble down the road for other audio or video players.

[2018-03-14 23:50] FranciscoMkdir opened #153 "Problem with arkit"
It seems that maybe overriding the format for the camera, so when ARKit tries to grab it, it fails?

[2018-03-21 11:09] PawanManjani opened #154 "How to save Image/Video in Device after Capture?"

[2018-04-01 21:59] thebigkhaled commented on #143
We have fixed the issue by below code, might be possible to adjust the code to below.

[code]

[2018-04-03 07:55] SwiftySrl2 opened #155 "Error when i play video.."
Basically when i open the app and play for the very first time a recorded video then it block that video after 1 sec, how can i solve this ?
(I'm using swift 4)

[2018-04-05 09:40] Jitenderios opened #156 "Camera Shuttle sound very low in swift 4 branch"
Hi @Awalz ,

I am facing few issues in the swift-4 branch.
1) The camera shuttle sound while capturing image is very low.
2) The recorded video's audio sound is very very low.
3) The camera screen, after initial launch retain a screenshot image when we reopen camera screen or pop back to the camera screen.

Thanks,
Jitender

[2018-04-08 05:13] maxmzd commented on #137
Confirmed this fixes the issue. Thanks!

[2018-04-08 20:45] hoeness2 commented on #156
hello i had the same problem and found nothing until i finally found the solution.
There is the option "allowBackgroundAudio" it is set by default to true set it to false and the problem should be fixed cheers

[2018-04-09 04:51] Jitenderios commented on #156
Hi @hoeness2 ,
Thank you so much for your reply. It has fixed the camera low shuttle sound issue and low audio sound in video recorded files.
Have found any solution  to the third issue in the when we reopen camera after initial launch or when we pop back to camera screen. It shows a freezed camera screen for like 1-2 secs and then its becomes normal. This issue is there in swift4 branch only. If

[2018-04-11 09:50] superandrew opened #158 "Flash Mode -> Auto"
We're interested in implementing this feature. Would you accept a pull request to embed this function in the library?

[2018-04-11 17:03] Awalz commented on #158
Yes I would

Andrew

[2018-04-19 06:50] BluePick commented on #128
@brhoomjs Thanks It's working fine...AS OF NOW

[2018-04-21 11:49] hoeness2 commented on #156
Glad to hear that it works ^_^
I'll check it out as soon as I can, and I'll get back to you.

Thanks,
Sascha.

[2018-04-23 05:05] Jitenderios commented on #156
Hi @hoeness2 ,

Looking forward to hear from you.

Thanks,
Jitender

[2018-05-01 18:18] lorenzoPrimi opened #160 "Implement into objective c"
Hi,
is it possible to implement SwiftyCam into an Obc-C project within a Obj-C class?

Thanks

[2018-05-04 23:48] emelt opened #162 "Preview layer frame is miscalculated when we ask for notification permissions"
The initial app in my screen is camera screen, presented modally.
When the user installs the app for the first time, I'm displaying permission popups for the camera.
And whenever there is an alert view on the top camera preview frame is miscalculated.

Even after granting permissions that preview frame is never updated leaves a white space at the bottom.

![img_1520](https://user-images.githubuser

[2018-05-06 19:14] kentonraiford commented on #154
Same question. Also, can users upload photos and videos from their device?

[2018-05-07 02:49] kentonraiford opened #163 "How to present SwiftyCamViewController from another controller."

[2018-05-07 02:54] #163 closed

[2018-05-08 06:37] Rogho opened #164 "resolution issues"
selected resolution looks inversed on opening camera

[2018-05-17 17:43] Smiller193 commented on #155
do issues ever get addressed in this repo

[2018-05-17 19:38] caloon commented on #143
Great fix.

@Awalz pls add this fix to the code base

[2018-05-27 20:12] TheSwiftyCoder opened #165 "Photo can't be overlayed on SwiftyCamViewController"
Trying to overlay the resulting photo from `func swiftyCam(_ swiftyCam: SwiftyCamViewController, didTake photo: UIImage) {}` method and it's failing. The photo object is returned but can't be placed in an imageHolder on top of the previewLayer. Have tried async and calling the method after a specific delay. Can this be achieved?

[2018-05-30 14:11] kentonraiford opened #166 "Progressbar is going out of view and is inconsistent."

[2018-06-03 18:17] Jaspur opened #167 "Different quality setting for Photo and Video?"
How to set different quality settings for Photo and Video?

[2018-06-14 09:10] dheeraj9022 opened #168 "How to set Video capture Camera Frame"
I am using swiftyCam on my iOS app . but my requirement is to add camera on the half of the screen . I am giving fix height width to camera controller it looks good but when I capture video it capture video in full screen.

[2018-06-18 05:19] jjpatel1996 opened #170 "Getting error whenever open or close camera"
I'm getting this error. Which making camera slow. Error: <<<< AVOutputDeviceDiscoverySession (FigRouteDiscoverer) >>>> -[AVFigRouteDiscovererOutputDeviceDiscoverySessionImpl outputDeviceDiscoverySessionDidChangeDiscoveryMode:]: Setting device discovery mode to DiscoveryMode_None (client: Reports2Go). Please Help me with this.

[2018-06-18 09:05] jjpatel1996 opened #171 "Memory Leak issue in Demo iOS Example"
I Found Memory Leak in Demo iOS Project using Leak instrument.
![screen shot 2018-06-18 at 2 34 10 pm](https://user-images.githubusercontent.com/21098119/41527449-d23a353e-7304-11e8-83eb-87426d105781.png)

[2018-06-19 11:44] Proudspark opened #172 "Use of undeclared type 'Orientation' (Xcode 9.4.2, Swift 4.1)"
Using Swift 4 Branch, the following line in `SwiftyCamViewController.swift`:

```fileprivate var orientation                  : Orientation = Orientation()```

produces two Swift Compiler Errors:

```Could not infer type for 'orientation'```
```Use of undeclared type 'Orientation'```

Any workarounds?

Thanks

[2018-06-27 18:13] ElliottDiaz opened #173 "videoPreviewLayer - Main Thread Checker: UI API called on a background thread:"
I've so far attempted wrapping every instance of 'videoPreviewLayer' in the function DispatchQueue.main.async or sync throughout my code and as well unlocking and modifying the swiftycam pod files the same to solve the problem but haven't had any success.

This is my question on Stack Overflow:
[https://stackoverflow.com/questions/51032194/computed-property-how-to-use-only-on-main-thread](url)

An

[2018-07-05 20:46] ElliottDiaz commented on #173
Has anyone had the same problem as me? with videoPreviewLayer posing a cash when trying to record?

[2018-07-09 19:48] jonchui commented on #46
so @Awalz did you decide not to do this?

[2018-07-15 23:13] JCsplash opened #174 "Photos taken using preview layer resizeAspectFill on iPhone X are not actually fullscreen"
Snapchat has a fullscreen camera and the resulting image when saved from snapchat to camera roll is still fullscreen like so:
![img_0016](https://user-images.githubusercontent.com/16738930/42739277-7dd9bd16-8862-11e8-917e-ff09668b181e.PNG)
![img_0013](https://user-images.githubusercontent.com/16738930/42739282-933a044a-8862-11e8-8a6c-f1e9607fb702.JPG)

However when using resizeAspectFill in Swifty

[2018-07-20 20:31] ElliottDiaz commented on #173
Regardless of what I do, It is not possible to capture video as of iOS 11, swift 4. If anybody can point me in the right direction it would be extremely helpful!

[2018-07-20 21:14] ElliottDiaz commented on #173
Issue was in not using 'Swift4' branch. Completely my fault. Thank you guys!

[2018-07-30 09:22] om-ha commented on #173
@ElliottDiaz what about Swift 3.x users (3.3 for me).

Is there any solution for this?

[2018-08-01 22:12] UNLK8852 commented on #117
Has anyone figured this out? If so what should I do? I'm having the same issue

[2018-08-02 11:02] vitorspencer commented on #131
Found it on [65c26e3](
https://github.com/Awalz/SwiftyCam/commit/65c26e35a9052d324c1167ce9e0131531c75ed1b) commit, we just need to add the setting `audioEnabled = false`

[2018-08-02 11:02] #131 closed

[2018-08-03 09:42] fairs-222 commented on #174
just change the videoGravity to .resizeAspectFill

[2018-08-03 09:45] fairs-222 commented on #174
to

[2018-08-06 11:42] NishitaSiddiqui opened #175 "Saving instance of the last clicked image and video recorded."
Saving instance of the last clicked image and video recorded , when after recording moving to other screen and again coming back to that screen, it is saving the instace for 2-3 seconds.

[2018-08-14 09:49] AyusSalleh opened #176 "Ignore screen orientation lock"
How can I ignore screen orientation lock for video? Because currently if I lock orientation and record a video, the video is rotated a wrong way when I use preferred transform. Do you guys planning on using CoreMotion instead to handling screen orientation?

[2018-08-14 10:11] AyusSalleh commented on #176
Opps, looks like it's in Swift4 branch. Cool!

[2018-08-14 10:11] #176 closed

[2018-09-06 14:51] Cez95 opened #177 "UIView.layer must be used from main thread only"
A memory leak is caused in the PreviewLayer file here:	var videoPreviewLayer: AVCaptureVideoPreviewLayer {
        let previewlayer = layer as! AVCaptureVideoPreviewLayer
        switch gravity {
        case .resize:
            previewlayer.videoGravity = AVLayerVideoGravity.resize
        case .resizeAspect:
            previewlayer.videoGravity = AVLayerVideoGravity.resizeAspect
        case .

[2018-09-06 15:14] Cez95 commented on #177
Code that solves the leak:
var videoPreviewLayer: AVCaptureVideoPreviewLayer {
        var previewlayer: AVCaptureVideoPreviewLayer!

        if Thread.current.isMainThread {
            previewlayer =  self.layer as! AVCaptureVideoPreviewLayer
        } else {
            DispatchQueue.main.sync {
                previewlayer =  self.layer as! AVCaptureVideoPreviewLayer
            }
        }

[2018-09-12 11:38] PramodShukla10 opened #178 "can we remove video recording on long press"

[2018-09-16 11:50] parallelbgls opened #179 "View orientation bug when device in landscape left or landscape right"
Process:
1. Rotate device to landscape left or landscape right.
2. Rotate device to horizontal (facing rear camera to ground)
3. Touch flashlight button.

![bug image](https://user-images.githubusercontent.com/4566128/45596129-e7157480-b9f1-11e8-9b62-71efe5541637.jpg)

[2018-09-19 06:32] kishansuthar opened #180 "How can we add stickers on live camera preview with record video?"
hello @Awalz

After googling more than 5 hours I found your repo to record video . Its really helped me to solve my problems. Now I want to add stickers to live video preview. Can you help me to solve this?

[2018-09-20 19:30] Kgroop opened #181 "Swift 4.2 Support"

[2018-09-21 00:37] hunterpp opened #182 "Cocoapods out of date?"
Hi I'm getting a whole bunch of compile errors with cocoapods swiftycam....
<img width="1041" alt="screen shot 2018-09-20 at 8 36 17 pm 1" src="https://user-images.githubusercontent.com/772917/45853764-01629180-bd15-11e8-9517-372fa12a9206.png">

[2018-09-21 01:43] hunterpp commented on #181
@Kgroop I'm feeling a bit of of a lack of support on this project. Can you recommend another more active swift based camera?

[2018-09-21 01:45] hunterpp commented on #181
Found one....nm https://github.com/NextLevel/NextLevel

[2018-09-29 07:55] SebastainMisas commented on #44
Bump ^^

[2018-10-02 01:22] jonchui opened #184 "iPhone X & newer are exporting in H.265/HEVC, instead of H264"
Is there any way to limit all video exports to use the Most compatible H264? (since Chrome browser still doesn't support H265/HEVC)

[2018-10-02 16:09] Bramnouwen opened #185 "Short delay when closing camera/switching views"
There's a small delay when I'm closing the camera which can be seen here: https://imgur.com/a/BDGeFOK

After I dismiss the view you can see a small line at the bottom of the screen which disappears after a short delay and I don't know why this is happening.

This also happens when switching tabs if the camera view is shown as a tab instead of a modal screen.

Has anyone else encountered this probl

[2018-10-03 07:46] SebastainMisas opened #186 "Please support switching cameras while recording"
As of now your not able to switch the camera while recording, this is an issue I'm sure majority of developers using this library would love to have implemented.
It would be greatly appreciated!

[2018-10-09 13:28] vishalkalola1 opened #187 "'setCategory(_:with:)' is unavailable in Swift 4.2 and xcode 10"

[2018-10-12 01:52] geoffbullen opened #188 "Unable to run SwiftyCam on ios12 [SwiftyCam]: Could not create video device input: Error Domain=AVFoundationErrorDomain Code=-11814 "Cannot Record""
I get the below error when I run the demo app (as well as my own) on ios12 but not ios 11 on an iPhone 6S.

Note:  this was working before which is why I suspect something has changed in a recent iOS release.

`
2018-10-12 12:44:54.223397+1100 DemoSwiftyCam[259:6688] [MC] System group container for systemgroup.com.apple.configurationprofiles path is /private/var/containers/Shared/SystemGroup/syste

[2018-10-15 07:30] geoffbullen commented on #188
This was a hardware issue with my device camera (as well as an error you get on the simulator).   Closing!

[2018-10-15 07:30] #188 closed

[2018-10-16 09:12] sandeep-yudiz commented on #187
Please add this line for swift 4.2 and Follow the below code.
[code]

Make  **AVAudioSessionPatch** objective-c file.

Add this code the in `AVAudioSessionPatch.h`
[code]

And in `AVAudioSessionPatch.m`
[code]
import the `#import "AVAudioSessionPatch.h"` in your project Bridging-Header files.

[2018-10-19 20:09] jondwillis commented on #174
Or, if you're inheriting from `SwiftyCamViewController`, in viewDidLoad, you could do: `videoGravity = .resizeAspectFill`

[2018-10-21 02:32] Yonodactyl commented on #186
If this is still available, I would like to take a crack at switch off recording!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-30 19:13] youngvz commented on #45
@alexcowley Make sure you are setting the image of the captureButton, otherwise it will not display.

[2018-11-09 03:53] shalins commented on #146
Happens to me all the time as well

[2018-11-09 23:01] Bramnouwen commented on #185
Kind of, someone suggested dispatching the closing of the camera to the global/background thread, that made it faster but not 100% perfect

I'm going to be be implementing a camera myself now though as this seems to be abandoned and I don't need a too complicated camera anyway.

Good luck!

[2018-11-14 15:35] JulienLevallois commented on #185
The closing or the opening ? Because for me its the opening who is longer..

[2018-11-15 13:32] Bramnouwen commented on #185
Well, as the issue suggests, for me it was the closing of the camera :-)

Putting the closing of the camera in the following code worked for me, but I've now switched to coding the camera myself:

[code]

Have you tried that? The opening of the camera worked perfectly for me so I didn't use it for that, but it's worth a shot.

[2018-11-15 17:20] JulienLevallois commented on #185
Thanks @Bramnouwen  i will try that.
And your custom camera is not open source ? :)

[2018-11-19 01:48] jonandersen commented on #181
Check out this branch: https://github.com/Awalz/SwiftyCam/tree/Swift4.2 should have the fixes you need for 4.2.

[2018-11-21 15:32] #181 closed

[2018-11-21 15:32] #172 closed

[2018-11-21 15:33] #128 closed

[2018-11-21 16:18] jonandersen commented on #186
Closing as it's a duplicate of #44 @Yonodactyl let me know if you did any progress on it!

[2018-11-21 16:18] #186 closed

[2018-11-21 19:50] JulienLevallois opened #191 "SwiftyCam is compatible with HVec codec ?"
Hi ! I want to know if we can export videos from SwiftyCam with HVec codec ? not with AVVideoCodecType.h264

Thanks

[2018-11-22 00:59] jonandersen commented on #182
@hunterpp 3.0.0 was just released and supports swift 4.2

[2018-11-22 00:59] #182 closed

[2018-11-22 01:24] #160 closed, assigned to nobody

[2018-11-22 01:29] jonandersen commented on #135
Cocoapods 3.0.0 is now out with Swift 4.2 support

[2018-11-22 01:29] #135 closed

[2018-11-22 20:59] jonandersen commented on #180
@kishansuthar  This is currently a little out of the scope for what I would work on adding into this library. However if you are up for the challenge feel free to submit a PR. I think you want to use something like Metal. I found something that had been done before on this: https://github.com/navoshta/MetalRenderCamera

Maybe you can use what's been done there.

[2018-11-22 20:59] #180 closed

[2018-11-22 23:06] jonandersen commented on #165
@TheSwiftyCoder Not sure I understand the exact issue here, can you submit upload a project somewhere that reproduces this issue?

[2018-11-22 23:07] jonandersen commented on #148
@BrettRosen can you upload a project somewhere that reproduces this?

[2018-11-23 16:48] JulienLevallois commented on #130
Did you find a solution ? Need too

[2018-12-05 07:18] hedypamungkas opened #193 "swift 4.2.1 support"
Cannot inherit from class 'SwiftyCamViewController' (compiled with Swift 4.2.1) because it has overridable members that could not be loaded in Swift 4.1.50

[2018-12-06 09:20] bhaveshbc commented on #158
what is progress?is this done in new Version?

[2018-12-06 10:35] officina-build commented on #158
@bhaveshbc @Awalz Hi! We created a pull request for this

[2018-12-09 23:55] mtrezza opened #195 "Cannot compile with carthage"
Compiling v3.0.0 with carthage (Xcode 10.1) fails with several errors:

[code]

[2018-12-17 06:54] biscottigelato commented on #193
Hi, how did you fix it? I am seeing the same error. Thanks!

[2018-12-27 20:04] emrecanozturk commented on #107
I have the same issue and I found the sessions starting place in the "SwiftyCamViewController" and I saw the sessions is starting on the "ViewDidAppear" and if you override the ViewDidAppear and the sessions is not running because the SwiftyCamViewController's ViewDidAppear is not called. Try this. if you use override ViewDidAppear remove and run again.

[2019-01-12 20:43] adxworld commented on #191
Theres a big issue for support with this library. Thats the reason I went on and actually deleted it. You rather build the camera fron scratch wont take long. You can download AVCam by apple. It has all the required docs + implementation and also does export HVEC  codecs

[2019-01-17 20:39] derens99 commented on #143
How did you solve this again? I'm testing on an iphone x and it isn't scaling well with the screen where the status bar and bottom bar are black. Thanks.

[2019-01-17 20:53] thebigkhaled commented on #143
You have to modify the code in SwiftyCamViewController.swift to make it work.

[2019-01-18 00:21] derens99 commented on #80
Is there another updated solution to this error? I am getting nil when I unwrap my buttons as well. Thanks.

[2019-01-24 20:15] Smiller193 opened #197 "iPhone X Support issue"
Im sorry if this isn't a problem for this library but I honestly don't know where else to turn. I am having a major issue with my custom camera. Pretty much the zoom on my camera when using any of the iPhone X's is way to close. I used your library and noticed that your camera doesn't have this same effect and was wondering if anyone here could possibly help me.

I have linked the stack overflow q

[2019-01-29 16:38] aried3r opened #198 "master branch doesn't build"
https://github.com/Awalz/SwiftyCam/pull/194 introduced Swift 4.2 incompatible changes after the 3.0.0 release.

For example https://github.com/Awalz/SwiftyCam/commit/b0b51e346dbcee34fd06fa379506edc89f0aba57#diff-b8661e0b79eded494b32f6f473e4b648R158 should be `UIControl.State()` and https://github.com/Awalz/SwiftyCam/commit/b0b51e346dbcee34fd06fa379506edc89f0aba57#diff-f569916ddfc3430069279a3f93b0d

[2019-02-04 22:54] adxworld commented on #117
In my case, the following worked for me:

`override func viewWillDisappear(_ animated: Bool) {
        super.viewDidAppear(animated)
    }`

[2019-02-10 01:11] andrevinic opened #199 "[SwiftyCam]: Cannot take photo. Capture session is not running"
[SWIFT 4.2] I've set all the delegates and methods,

but when I press the button to take photo, it says "[SwiftyCam]: Cannot take photo. Capture session is not running" in the log console.

Does anyone know the solution?

[2019-02-17 23:23] jonandersen commented on #198
Should have been fixed now, yes adding that would be a good idea. I'll see once I get some more time to improve that!

[2019-02-17 23:23] #198 closed

[2019-02-17 23:25] #197 closed

[2019-02-17 23:28] jonandersen commented on #191
It should be possible to set now: https://github.com/Awalz/SwiftyCam/pull/200

[2019-02-17 23:28] #191 closed

[2019-02-17 23:28] jonandersen commented on #184
With this PR https://github.com/Awalz/SwiftyCam/pull/200 you should be able to specify the export format

[2019-02-17 23:28] #184 closed

[2019-02-19 21:54] bohachevskyy commented on #117
@specc you are right, the reason is that `captureSessionDidStartRunning` method isn't called.
This method receives notification from event named `AVCaptureSessionDidStartRunning`. Subscription happens in `viewWillApear`.
Make sure that you call `super.viewWillAppear` in overrided method.

[2019-02-20 10:14] miaotaoii commented on #199
same question!!

[2019-02-20 10:15] miaotaoii opened #201 "[SwiftyCam]: Cannot take photo. Capture session is not running"

[2019-02-20 10:43] miaotaoii commented on #199
I hava find solution : do not override the  viewWillApperare() method in your view controller

[2019-02-20 13:44] andrevinic commented on #199
Awesome, @miaotaoii

It worked for me also, I had viewWillAppear and I removed it.
Worked.

Maybe we could try to search this bug in the framework and help them fixing it?

[2019-02-20 17:40] #199 closed

[2019-02-21 01:45] miaotaoii commented on #199
actually,it's our mistake, we must add  "super.viewWillAppear(animated)"  in our method like this ,

override func viewWillAppear(_ animated: Bool) {
        super.viewWillAppear(animated)
       // your code ...
    },
that because , the code about start session has implemented at parent view controller

[2019-02-21 01:48] miaotaoii commented on #201
do not override parent view controller's viewWillApperae method

[2019-02-21 01:48] #201 closed

[2019-02-21 02:09] andrevinic commented on #199
Hum, thats right..
Great one, dude!
    Em quarta-feira, 20 de fevereiro de 2019 22:45:46 BRT, miaotaoii <notifications@github.com> escreveu:

actually,it's our mistake, we must add "super.viewWillAppear(animated)" in our method like this ,

override func viewWillAppear(_ animated: Bool) {
super.viewWillAppear(animated)
// your code ...
},
that because , the code about start session has implemente

[2019-02-21 05:56] hedypamungkas commented on #193
hi @biscottigelato

Please check it here
https://github.com/Awalz/SwiftyCam/issues/126#issuecomment-337918385

[2019-03-03 19:43] blurtime commented on #130
@aurora14 Could you post your solution to this? Would really appreciate it!

[2019-03-09 11:47] ravigangwar1991 opened #203 "Camera Not Working with when some other app using camera"
I'm Facing a issue when some other app used my camera then camera session stop working

[2019-03-16 15:21] DheerajMani opened #204 "Video orientation issue"
SwiftyCam is really good.

I am using this for customised video recorder.
But I am facing a problem while getting the video orientation.

For 'SwiftyCamViewController' I have set the following parameters.

- shouldUseDeviceOrientation = true
- allowAutoRotate = false

When I record the video with above parameters, it is working fine on iOS devices. But on Android phone the video is shown rotated.

[2019-03-28 08:12] ShaikBaji1506 opened #205 "1920*1080 for this Quality the front Camera is not working. may I know the reason and the Quality size resolution for the Low, High, Medium"

[2019-04-01 06:09] #177 closed

[2019-04-19 17:41] eVerup commented on #158
Not accepted since december ?

[2019-04-20 08:45] pritesh-uniqual commented on #140
really very useful, thank you so much

[2019-04-24 14:56] eVerup commented on #204
Same problem here, i don't find solution ... Please help !

[2019-04-26 20:18] RobinHe0212 commented on #204
In the Orientation file. Go to function getVideoOrientation() -> AVCaptureVideoOrientation?, change to the following syntax:(Hope it works. It works like a charm for me)
switch deviceOrientation {
        case .landscapeLeft:
            return .landscapeLeft
        case .landscapeRight:
            return .landscapeRight
        case .portraitUpsideDown:
            return .portraitUpsideDown

[2019-05-12 10:52] yangvz commented on #118
AVFoundation only supports full-screen captures, so you must DIY.

1. Add two opaque views on top of the preview view.
2. Crop the captured image using the same dimensions of the opaque views.

Example: https://medium.com/@EldonChan/ios-creating-a-custom-camera-with-avfoundation-51cbcf548eed

[2019-05-12 10:52] yangvz commented on #168
AVFoundation only supports full-screen captures, so you must DIY.

1. Add two opaque views on top of the preview view.
2. Crop the captured image using the same dimensions of the opaque views.

Example: https://medium.com/@EldonChan/ios-creating-a-custom-camera-with-avfoundation-51cbcf548eed

[2019-05-20 22:27] khawarb opened #206 "AVCaptureVideoDataOutput in SwiftyCam AVCaptureSession"
How to add AVCaptureVideoDataOutput in SwiftyCam AVCaptureSession. I have followed all methods available on internet but it's delegate AVCaptureVideoDataOutputSampleBufferDelegate method "captureOutput" is not getting called. Anyone can help?

[2019-05-21 07:45] ShaikBaji1506 opened #207 "Hello I found one issue from iPhone X I have uploaded the video using the Swifty Cam but the server guy received the video but the problem is the video is not playing only in iPhone X what is the issue please help me"

[2019-05-21 07:59] ShaikBaji1506 commented on #143
Hello when I upload video from iPhone X backend people are receiving but unable to play the video what is the issue in iPhone X ?? unable to play the video which I have recorded from iPhoneX Only

[2019-05-24 08:36] ShaikBaji1506 opened #208 "iPhone X , .h264, HEVC issue Video Converter"
iPhone X device when we record the video the video is converting into the .h264 which is default but where as for iPhone X, it is taking as codeC type as HEVC and I have changed my code  to

 if #available(iOS 11.0, *)
                 {
  let connection = movieFileOutput.connection(with: .video)
            if movieFileOutput.availableVideoCodecTypes.contains(.h264)

            {
    // Use the

[2019-05-24 08:38] ShaikBaji1911 commented on #184
Yeah @jonchui I was facing this issue but here we have 2 camera one is rear and the other is front camera so my case is

In some device when we record the video the video is converting into the .h264 which is default but where as for iPhone X, it is taking as codeC type as HEVC and I have changed my code to

if #available(iOS 11.0, *)
{
let connection = movieFileOutput.connection(with: .video)
if

[2019-06-11 09:15] sebastienboulogne opened #209 "Swift 5"
Hello guys, thank you for your work. Is it possible to compile your pod for Swift 5 because i'm blocked with the new Xcode :/ Thank you very much

[2019-06-20 22:22] tobiasgemperli commented on #206
@khawarb  Have you found a solution?

[2019-06-21 01:55] mtrezza commented on #209
I compiled it with carthage using the Swift 5.0.1 compiler, if that helps.

[2019-06-21 01:56] mtrezza commented on #195
Successfully compiled v4.0.0 with carthage using Swift 5.0.1 compiler.
Closing this issue.

[2019-06-21 01:56] #195 closed

[2019-06-21 09:25] sebastienboulogne commented on #209
@mtrezza thank you but using Pod. Waiting for the Swift 5 version

[2019-06-24 05:55] waterdrake opened #210 "Audio from bluetooth speakers lowers to a weird level"
When opening up the camera, audio from bluetooth headphones lowers to a weird lower, and lesser quality volume.  Sometimes it just cuts off. Once the camera closes, the audio sometimes returns back to it's normal volume.

I tried messing around with AVAudioSession.CategoryOptions for iOS 10+ but can't seem to get  the settings right.

Has anyone else tried opening the camera while listening to mus

[2019-07-03 08:24] ShaikBaji1506 opened #211 "I have one issue when we are using camera (video call in other any app ex:Skype,Whatssup video call) so and when I want to use the SwiftyCam it should say like Camera is not available or it should not give permission to access camera for SwiftCam how to identify this issue"

[2019-07-03 08:37] ShaikBaji1911 commented on #209
I have one query if we are using any other camera (video call in Skype or Fb,Whatssup) but can we use the SwiftCam Camera in parallel there I used to see the Blank screen how to detect and make a popup there like Camera in use already

[2019-07-03 15:12] wujood commented on #119
I am having the same issue. For me switching manually fixed the zoom (as it did for the OA), but that is of course not what i wanted. Here is what i tried:
* Call `switchCamera()` twice in `viewDidAppear` and in `viewDidLoad` (would not be ideal but even that didn't work)
* Call `view.layoutIfNeeded()` in `viewDidAppear` and in `viewDidLoad`
* Set a breakpoint in `swiftyCam(_ swiftyCam: SwiftyCamV

[2019-07-04 15:20] vindicatesociety opened #212 "Use of unresolved identifier 'flashMode'; did you mean 'CFHashCode'?"
fileprivate func toggleFlashAnimation() {
            //flashEnabled = !flashEnabled
            if flashMode == .auto{
                flashMode = .on
                flashButton.setImage(#imageLiteral(resourceName: "flash"), for: UIControl.State())
            }else if flashMode == .on{
                flashMode = .off
                flashButton.setImage(#imageLiteral(resourceName: "flashOutlin

[2019-07-04 15:56] vindicatesociety commented on #212
Fix:
var flashMode: AVCaptureDevice.FlashMode!

[2019-07-04 15:56] #212 closed, assigned to nobody

[2019-07-12 21:16] vindicatesociety commented on #116
Please pull this into the main branch.

[2019-07-17 05:46] bkunarola commented on #154
Is there any update on this?

[2019-07-26 06:09] bkunarola commented on #209
is there any update on this?

[2019-07-26 06:24] mtrezza commented on #209
@ShaikBaji1911 Please open a separate issue for this, if it doesn’t exist yet.

[2019-08-12 05:49] KiranDhokale8118 commented on #162
Hi...how you will resolved these

[2019-08-26 06:15] aayubhagat commented on #204
I also face same problem... Please help!

[2019-10-02 08:50] tirrorex commented on #174
Setting variables before the call to super is triggering me very much :D
Imo the framework should allow to set it later and resize properly

[2019-10-16 07:52] tirrorex commented on #207
The video is probably saved in hevc format and your server does not handle it.
If the file is not corrupted anyone who can read the file extension should be able to use a software to read it
This is most likely related to issue #208

[2019-10-21 08:06] KiranDhokale8118 opened #215 "Does not support when app minimises and the Resume could not support recording"
Please help ?

[2019-12-07 07:30] PingChap commented on #211
find it in ios setting

[2019-12-07 12:16] vamshi-gloify opened #216 "Crashing when open camera and taking time when open or cancel"
I am using xcode 11.1 and iOS 13.1

[2019-12-07 12:21] Vamshi-krishna1194 opened #217 "Crashing when open camera"
When i open camera its freezing and crashing. I am using Xcode 11.1 and iOS 13.1
Error: Attempted to read an unowned reference but the object was already deallocated.

[2019-12-09 06:48] ShaikBaji1506 commented on #211
@PingChap  how every time we can't open settings when using SwiftyCam right ? there should be any notification when users camera is being used in other apps or a simple alert would be great

[2019-12-09 11:11] ShaikBaji1506 commented on #209
Does this work on Swift 5 Xcode 11 ? when we update Xcode I was adding though cocoa pods

[2019-12-09 11:13] #205 closed

[2019-12-09 11:15] ShaikBaji1506 commented on #203
yes because already other app is being used by the camera so make sure your session starts running and  all those cases you were handled or not

[2019-12-27 07:09] AmanGupta-Cs opened #218 "Status Bar Error"
I am using this SDK and getting an error in the status bar.
Here is the details and video link.
https://stackoverflow.com/questions/59485623/application-status-bar-not-working-properly.

[2020-01-11 02:16] geoffbullen opened #219 "Is it possible to explicitly set camera to landscape"
I am having issues using the shouldUseDeviceOrientation = true property when on a flat surface.

It works fine if I hold the camera up and respects portrait or landscape, but when I take a pic of a flat horizontal surface, I can't rely on the image being the correct orientation.

Would be great if I could simply pass a value when I know the orientation I want.

[2020-01-15 21:13] dfmarulanda commented on #46
There is any update on this?

[2020-02-12 09:40] hiteshborse12 opened #221 "camera switch is not working after clicked video. Unresponsive Blue screen"
The camera switch is not working after the record video. I just see an image with a blue screen and everything becomes unresponsive. Any way to fix this?
Steps:
1. Click video.
2. Dismiss VideoViewController.
3. Switch camera
 Here you will see a blue screen.

Device :
iPhone X
iOS: 13.2.3
Demo video : https://drive.google.com/file/d/1RGRJNWr_NGIxpt9llaEKroe4OUsSqcA-/view?usp=sharing

[2020-02-25 06:35] usman-whizpool opened #222 "when app goes to background , capture session is getting nil and stop recording is not working"
Hi there, any idea about why this is happening , when app goes to background , capture session is getting nil and stop recording is not working

error detail after debug
[SwiftyCam]: Movie file finishing error: Error Domain=AVFoundationErrorDomain Code=-11818 "Recording Stopped" UserInfo={NSLocalizedDescription=Recording Stopped, AVErrorRecordingSuccessfullyFinishedKey=true, NSLocalizedRecoverySug

[2020-02-27 11:47] #211 closed, assigned to nobody

[2020-03-19 21:01] kronos317 commented on #99
@Awalz  @Jitenderios  @aurora14 Any updates?

[2020-05-04 11:00] mbesnili commented on #221
Hello @hiteshborse12 ,

Did you find any solution to this problem ?

[2020-05-04 11:43] mbesnili commented on #221
Quick fix to problem.

present VideoViewController and PhotoViewController with modalPresentationStyle set to fullScreen in ViewController.swift

It's related to view cycle methods as viewDidxxxx method no longer getting called when presenting.

[2020-05-04 11:58] hiteshborse12 commented on #221
Thanks @mbesnili , I will check.

[2020-05-19 07:44] zakilaliwala opened #224 "Delegate method not called when video is recorded."
when i present the camera view and recorded the video, the below **delelgate method** does **not get called** , BUT, if i change the camera it works fine.

It does not work only when we recored the video directly without flipping the camera (i.e front / rear)
[code]

Am i missing something? Please help asap.

[2020-05-22 14:06] ShaikBaji1506 commented on #154
is there any update on this ? @Awalz ?

[2020-05-22 14:07] ShaikBaji1506 commented on #130
@aurora14  could you please post your solution I was unable to zoom both in front and back camera also

[2020-05-22 14:08] ShaikBaji1506 commented on #122
@aurora14  can you post your solution how to zoom I was unable to zoom in both rear and front camera's

[2020-05-22 14:13] ShaikBaji1506 commented on #119
any. update on this I was unable to zoom the camera both in rear and front

[2020-05-27 20:05] ShaikBaji1506 opened #225 "Flash Mode not working for rear camera"
Unable to capture image for rear camera with flash mode enable it is working fine for front camera both flash on /off cases when comes to rear camera unable to capture image for flash mode @Awalz can you please look into this

[2020-05-27 20:06] ShaikBaji1506 opened #226 "Unable to Zoom In/Out for rear and front camera"
I was unable to zoom in/out for both rear and front camera can anyone help me

[2020-06-04 22:51] dobrogithub commented on #99
@Awalz is there any option to toggle if the user is in a phone call to at least allow taking pictures?

[2020-06-15 01:39] ajRiverav opened #228 "unable to import switch package"
Environment:
OS: 10.15.5 (19F101).
XCode Version 11.5 (11E608c)

![image](https://user-images.githubusercontent.com/22076301/84610100-80074700-ae87-11ea-92c1-5a2e15fbbb3e.png)

[2020-06-25 06:07] sadabios commented on #99
this happen because of app goes in background mode and video recording is stop at that time and this didFailToRecordVideo delegate method was called and it was same for default camera
in default camera when app is goes in background mode than video recording was cancel so when app is goes in BG mode so cancel all recording code

[2020-06-25 11:42] sadabios commented on #117
this happend because your viewwillapper and viewdidapper don't have super.viewWillAppear(animated) so just added in viewWillAppear its work
override func viewWillAppear(_ animated: Bool) {
        super.viewWillAppear(animated)
}

[2020-07-06 14:14] Vaishalishunagund opened #229 "i am storing the video url to realm by converting it to data. But when i try to fetch it and play the video is not getting played."

[2020-07-09 17:27] rabia-onschedule commented on #138
Facing same issue.

[2020-07-15 19:47] Guala99 commented on #143
I still have the same problem in 2020, have someone managed to solve it? I tried all the upper "solutions" but they don't work correctly

[2020-07-21 19:24] nightbird8n commented on #222
Hi,

Did you find solution?
Is there any way to save video file when app goes to background?

Thanks

[2020-07-31 20:05] Adakhan opened #230 "How to save a video in camera roll?"
How to save a video in camera roll?
I found a way to save photos in camera roll.
`        UIImageWriteToSavedPhotosAlbum(photo, nil, nil, nil)
`
 What about videos?

[2020-07-31 20:09] Adakhan opened #231 "The sound in the video is very quiet"
The sound in the captured video is very quiet. I made
`allowBackgroundAudio = true
`
`audioEnabled = true`
But the sound is still quiet.

[2020-08-01 23:14] Ludotrico commented on #231
I have the same issue. In addition, the video when exported and then watched in the Photos app is muted but can be unmuted by tapping the unmute button in the Photos app.

[Perhaps this is the fix.](https://github.com/Baseflow/XamarinMediaManager/issues/384)

Any suggestions? @Awalz @jonandersen

[2020-08-05 18:47] gwenfriedman commented on #231
I am having a similar problem. I am trying to play audio while recording a video. While the video is recording the audio is very quiet. When the video is playing back the audio is a normal volume. Is there a fix to make the audio a normal volume while the video is recording?

[2020-08-14 16:19] Adakhan commented on #231
I tried to set `allowBackgroundAudio`  = `false`. Probably it fixed the problem.

[2020-08-17 11:26] aman-at-appinventiv commented on #133
Hi @jjpatel1996,
I am facing the same issue, were you able to find a solution for this?

[2020-08-17 12:08] jjpatel1996 commented on #133
@aman836, You might need to dig in and figure out by working with autoFocus. Because, I could not able to recall.

[2020-08-17 12:10] aman-at-appinventiv commented on #133
@jjpatel1996 ok, thanks a lot for the direction.

[2020-08-19 12:09] M-I-N commented on #231
This fixes the quiet sound.

@Ludotrico, @gwenfriedman perhaps you can try this.

The implementation of [`func setBackgroundAudioPreference()`](https://github.com/Awalz/SwiftyCam/blob/master/Source/SwiftyCamViewController.swift#L1005) is the reason for this quiet sound.

[2020-09-13 09:55] jainpalak95 commented on #221
I did the same thing but it's not working.
can you please confirm?

[2020-09-13 09:56] jainpalak95 commented on #221
hi,
did you find the solution?

[2020-09-13 10:00] hiteshborse12 commented on #221
@jainpalak95 Sorry but I don't have source code. I think i deinit all variables and re-initialized all instances..

[2020-09-19 14:28] gwenfriedman opened #232 "Movie File Finishing Error"
I am getting this error when I try to record a very short video:

[SwiftyCam]: Movie file finishing error: Error Domain=AVFoundationErrorDomain Code=-11805 "Cannot Record" UserInfo={NSUnderlyingError=0x280490de0 {Error Domain=NSOSStatusErrorDomain Code=-16418 "(null)"}, NSLocalizedRecoverySuggestion=Try recording again., AVErrorRecordingFailureDomainKey=1, NSLocalizedDescription=Cannot Record}

[2020-10-05 15:40] caesss commented on #209
any news?

[2020-10-06 04:14] mburdzy opened #233 "Adding new gesture recognizer to view"
Has anyone here been able to add their own gesture recognizers without changing the SwiftyCam code?

I see `AddGestureRecognizers` is set as `fileprivate` and so is `previewLayer`, so I am wonder if there is a simple way to add my own custom swipe gesture recognizer without needing to do a pull request.

[2020-10-08 15:58] Guala99 opened #234 "Switch Camera while recording video"
Has anyone implemented this feature, I'm wrapping my head around but I don't know how to figure it out

[2020-10-09 00:42] mburdzy commented on #233
Figured it out on my own.

Was able to do it by adding these two functions

`
private func addSwipe()
    {
        Swipe = UISwipeGestureRecognizer(target: self, action: #selector(swipeGesture(swipe:)))
        Swipe!.delegate = self
        Swipe!.direction = .left
        self.view.addGestureRecognizer(Swipe!)
    }
`

    func gestureRecognizer(_ gestureRecognizer: UIGestureRecognizer, shouldR

[2020-10-09 00:42] #233 closed, assigned to nobody

[2020-10-15 15:44] steveellis opened #235 "videoCodecType selection doesn't stick after switching the camera with switchCamera"
I set the ```videoCodecType``` to ```.h264``` in ```viewDidLoad``` the video records in h264. But If I call ```switchCamera``` then the video records as HVEC.

From what I can tell it's because the codec selection doesn't persist after the session inputs change in ```switchCamera``` and defaults back to HVEC. I thought I could just set ```videoCodecType``` either before or after switching the came

[2020-10-15 17:34] steveellis commented on #235
Seems like my issue may be a duplicate of this https://github.com/Awalz/SwiftyCam/issues/208 or at least @ShaikBaji1506 is having the same problem of the codec not being carried over when switching cams.

I'm able to solve this by reloading the view controller entirely when switching camera and setting the desired camera using the ```defaultCamera``` property, and then calling super.viewDidLoad wh

[2020-10-22 15:50] Guala99 opened #236 "crash when run on simulator "collection was mutated while being enumerated""
When running Camera on simulator it always crashes and I receive this error

Terminating app due to uncaught exception 'NSGenericException', reason: '*** Collection <NSConcreteHashTable: 0x600002c15c20> was mutated while being enumerated.'

When I run it on a physical device It works fine tho

[2020-10-23 09:42] Eirias commented on #236
It's not possible to access camera of your development machine to be used as simulator camera. Camera functionality is not available in any iOS version and any Simulator. You will have to use device for testing camera purpose.

[2020-10-23 12:08] Guala99 commented on #236
@Eirias thank you for your answer, so let's say a real device doesn't have front or rear camera because, for example, they are broken. Will this error occur? or it will not because It appears only on simulator?

[2020-11-11 23:10] EugenKuzn opened #237 "crash on method switchCamera()"
I noticed a few crashes in Firebase on method switchCamera().
Here is the stack trace from Firebase (I know, it looks badly).
Unfortunately, I wasn't able to reproduce it on my side.
Crash report says, that SwiftyCam crashes on session queue.
Any thoughts?
Thanks!
.
.
.
![Screenshot 2020-11-12 at 01 10 30](https://user-images.githubusercontent.com/33037693/98874936-df43a480-2483-11eb-869e-fd177224

[2020-11-20 17:41] manisha-PBH opened #238 "Session get failed if call is on."
If we are connected to any call like zoom or skype. Swifty cam session stops running out.  And gives a failure error. Even Capture Photo is not working. For video, I can understand that Apple does not allow but for the normal photos, it should work.

[2021-01-09 06:31] AbdulRahman-Khursheed commented on #209
Waiting for swift 5 version

[2021-01-10 03:49] AbdulRahman-Khursheed commented on #143
It works for me
Thanks

[2021-01-10 03:49] AbdulRahman-Khursheed commented on #168
https://github.com/Awalz/SwiftyCam/issues/143#issuecomment-377819982
solution provided here

[2021-02-05 22:50] lifecloudsocial opened #241 "Camera looks "zoomed in" compared to other full screen apps when using videoGravity: .resizeAspectFill"
I have the camera set to full screen using videoGravity: .resizeAspectFill

However, now the camera looks "zoomed in" compared to other apps that are full screen cameras.

Any thoughts on how to fix this?

Below are links to 2 images to compare:

[SwiftyCam](https://trello-attachments.s3.amazonaws.com/6001e953ce2b5d72f715fce1/1125x2436/9da1e906ce2621f58a72cfe744f6d1d4/image.png)

[OtherCam](https:

[2021-02-17 01:03] joker-fightclub commented on #228
I am having this issue as well

[2021-02-17 11:33] vd1516 opened #242 "VideoRecording"
Sometime video recorder screen not show only black screen show

[2021-02-18 04:19] ryanstewart1996 commented on #209
same here, fingers crossed

[2021-02-23 03:30] hnvn commented on #242
I faced this issue with front camera. The recored front camera is alway black, the rear cam works well

[2021-02-24 07:06] aiyub007 commented on #54
the only feature pending for this awesome lib

[2021-03-30 12:01] muhammadahmad665 commented on #229
you Need to Save the url of the video not the data.

[2021-03-30 12:14] muhammadahmad665 commented on #224
Just Uninstall And Install the app again. This works for me

[2021-03-31 07:49] muhammadahmad665 opened #243 "How we can pause video Recording"

[2021-04-06 14:05] #243 closed, assigned to nobody

[2021-05-14 14:09] jdleung commented on #119
Comment the following line works. It will disable video stabilization.

And changing modes give different results
**OK:**
 `.off`, `.cinematicExtended`
**Not OK:**
`.standard`, `.auto`, `.cinematic`
[code]

Still waiting for a best solution and why it VideoStabilizationMode cause such a problem?

[2021-06-30 05:41] ashish5016 opened #244 "Camera black while on call"
camera goes black while receiving phone call and camera doesn't work....

[2021-07-18 22:47] farhanulhaq075 commented on #199
Very Helpful Thanks for the Help !

[2021-07-28 06:15] Lzepeda20 opened #245 "How yo get into my girls Snapchat"

[2021-12-20 11:05] Khushbu307 commented on #232
Hello,
Add below 1 line code on Your viewDidLoad Method After Set camera

Code:-

    configureVideoPreset()

[2022-03-14 16:18] Samigos opened #247 "Is this repo M1 compatible?"
I'm about to purchase my first M1 mac, but first I want to make sure that all pods that I'm using are compatible with M1.

[2022-04-13 14:38] Emze100 opened #248 "Return UiImage to pass it to new ViewController."
How do I pass the taken image into another ViewController, which is pushed onto the CameraViewController. Do I have to use the didTakePhoto Delegate?

[2022-05-26 06:09] angeldzzz23 commented on #247
Im running on an m1 max and everything works.

[2022-05-26 09:08] Samigos commented on #247
Do you run Xcode on Rosetta?

[2022-05-26 16:16] angeldzzz23 commented on #247
I do not but I tried running it right now and it worked fine. Hope this helps!

[2022-05-27 04:43] angeldzzz23 commented on #248
Yes you would have to do and  you can easily pass the photo to another view controller using the given UIImage.

![Screen Shot 2022-05-26 at 9 41 58 PM](https://user-images.githubusercontent.com/29695936/170630537-56244675-5180-4936-9517-3ea525b82cbf.png)

[2022-07-01 20:42] estebanjb1989 opened #249 "Set zoom level programatically"
Hello! I've integrated SwiftyCam to my project and works awesome!
But I'm having an issue with the zoom and I'd need to find a way to reset the zoom level to the default when the camera appears.

[code]

Do you know how can we achieve this?

[2022-07-01 21:10] estebanjb1989 commented on #249
Just copied the source folder to my project and added this method to **SwiftyCamViewController**:
[code]

[2022-07-01 21:10] #249 closed, assigned to nobody

[2022-08-31 18:15] Samigos commented on #138
any idea on how to fix this?

[2022-09-13 04:42] waterdrake opened #250 "Is there a fork of this library that is most up to date?"
This library is a bit old and there are a lot of deprecated classes like AVCaptureStillImageOutput, and AVCaptureDevice.devices(). Is there a fork somewhere that someone is maintaining and keeping up to date that solves those issues?

[2022-09-14 05:12] dimple039 commented on #244
Any update on this? @ashish5016 Can you please help on how you solve this?

[2022-09-14 05:13] dimple039 commented on #211
@PingChap did you solve this issue? Can you please guide me on the same?

[2022-11-01 02:33] iqbal92 commented on #231
@Adakhan I tried to set allowBackgroundAudio = false then fixed audio issue, but my app not getting any caption (words of audio) without allowBackgroundAudio.
when I set allowBackgroundAudio = true then video caption getting proper.
can you help me.

[2022-11-23 13:48] namanAstapartners commented on #243
is it possible with swiftCam. ?